<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <link rel="stylesheet" href="__CSS__/Index/index.css">
    <link rel="stylesheet" href="__CSS__/Index/detail.css">
</block>
<block name="content">
    <div class="indicate">寻找身边最美党员</div>
    <div class="detail am-g" style="text-align:center;">

        <!-- 作品主题 -->
        <div style="font-size: 20px; font-weight: bold; width: auto; height: auto; color: red">一</div>

        <!-- 作品展示  -->
        <div class="am-u-lg-12 am-u-sm-12" style="margin-top:2.45rem;font-size: 16px; font-weight: bold;font-family: 黑体 heiti; text-align: center; color: #000;margin-bottom: 2.45rem">
            <!--<img src="./珠海市香洲区第九届科技节_files/delta.png">-->
            <div class="school-cover">展示</div>
            <!-- 向下的三角形 -->
            <div class="triangle_border_down">
                <span></span>
            </div>
        </div>
        <div class="am-u-lg-12 am-u-sm-12">
            <img src="http://pic2.cxtuku.com/00/08/40/b37775d61483.jpg" class="am-img-responsive">
            <button type="button" id="vote" class="am-btn am-btn-secondary am-radius am-animation-slide-bottom am-btn-sm" style=" margin-top: 2.45rem;width: 25%">给他投票
            </button>
            <p style="margin-top: 1.4rem"><span id="vote12">1022</span>票</p>
            <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-bd">
                        非常感谢您的参与
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">点击关闭</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- 作品描述  -->
        <div class="am-u-lg-12 am-u-sm-12" style="margin-top:2.45rem;font-size: 16px; font-weight: bold;font-family: 黑体 heiti; text-align: center; color: #000;margin-bottom: 2.45rem">
            <div class="school-cover">描述</div>
            <!-- 向下的三角形 -->
            <div class="triangle_border_down">
                <span></span>
            </div>
        </div>
        <style>
            .detail-content img {
                width: 100% !important;
                height: auto !important;
            }
        </style>
        <div class="am-u-lg-6 am-u-sm-12">
            <div class="am-u-lg-12 am-u-sm-12" style="font-size: 1.5rem; text-align: left;line-height: 2.45rem;color: #5a5a5a">
                <p>陈大伟，男，1962年6月生，1982年10月入党，市农经局畜牧兽医局兽医。
                    陈大伟于1985年7月进入畜牧兽医局工作。为了繁育桐乡湖羊最优品种、提升湖羊产业，他毅然在2010年放弃畜牧局舒适的办公环境，下乡到龙翔街道南王村管理桐乡市湖羊种羊场，并与浙江大学合作先后开展了羔羊补料、母羊补料、秸秆青贮等试验，并亲自操作。凭着他一丝不苟的态度，各项试验均取得了满意的效果，并成功在全市推广。正因为他的勤学肯干、开拓创新，种羊场的湖羊存栏从六百多头增加到现在的一千多头，湖羊种羊场也因此成功创建为国家级标准化示范场，并与浙江大学签约成为该大学的实习教学基地。</p>            </div>
        </div>

        <!-- 作品信息 -->
        <div class="am-u-lg-12 am-u-sm-12" style="margin-top:2.45rem;font-size: 16px; font-weight: bold;font-family: 黑体 heiti; text-align: center; color: #000;margin-bottom: 2.45rem">
            <!--<img src="./珠海市香洲区第九届科技节_files/delta.png">-->
            <div class="school-cover">陈大伟 信息</div>
            <!-- 向下的三角形 -->
            <div class="triangle_border_down">
                <span></span>
            </div>
        </div>
        <div style="text-align: center; font-size: 14px; color: #333">
            <span>姓名：</span>
            <span>陈大伟</span>
        </div>
        <div style="text-align: center; font-size: 14px; color: #333">
            <span>出生日期：</span>
            <span>1962年6月</span>
        </div>

        <div style="text-align: center; font-size: 14px; color: #333">
            <span>党职位：</span>
            <span>党员</span>
        </div>
        <div style="text-align: center; font-size: 14px; color: #333">
            <span>职业：</span>
            <span>畜牧兽医局兽医</span>
        </div></div>

    <div class="indicate" style="margin-top: 10px;margin-bottom: 0px;font-size: 12px">每个微信号每天能投一次，投票时间为12月1日到12月6日</div>

</block>
<block name="scripts">

</block>
