<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="flexible" content="initial-dpr=2"/>
    <link rel="stylesheet" href="__STATICS__/flexible/flexible.css">
    <script src="__STATICS__/flexible/flexible.js"></script>
    <link rel="stylesheet" href="__STATICS__/swiper/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" href="__CSS__/index/index.css">
    <link rel="stylesheet" href="__STATICS__/mui/other/mui/css/mui.min.css">
    <link rel="stylesheet" href="__STATICS__/mui/xyt/css/xyt.base.css" />
    <link rel="stylesheet" href="__STATICS__/mui/xyt/css/xyt.component.css" />
    <link rel="stylesheet" href="__STATICS__/mui/xyt/css/xyt.icon.css" />
    <style>
        header.head {
            background: url(__IMG__/branch/head_bg.png) no-repeat;
            background-size: 100%;
        }

        .title_img > .title .inwrap .position li > .sign_in {
            background: url(__IMG__/index/attendance.png) no-repeat 0 90%;
            background-size: 80%;
        }

        .banner .swipe .left span {
            background: url(__IMG__/index/left.png) no-repeat 44px 85px;
        }
        .hide{
            display: none;
        }
    </style>
</head>
<body>

<div class="mui-content"></div>


<script src="__STATICS__/swiper/js/swiper-3.3.1.min.js"></script>
<script src="__STATICS__/zepto/zepto.js"></script>
<script src="__STATICS__/zepto/event.js"></script>
<script src="__STATICS__/zepto/touch.js"></script>
<script src="__JS__/index/index.js"></script>

<script>
    var __root__ = "__ROOT__";
</script>
<script src="__STATICS__/mui/other/mui/js/mui.min.js"></script>
<script type="text/javascript" src="__STATICS__/mui/xyt/js/xyt.mui.js" ></script>
<script type="text/javascript" src="__STATICS__/mui/xyt/js/xyt.common.js" ></script>
</body>
<script type="text/javascript">
    // 根据运行系统隐藏无用的UI元素

    // mui初始化，启用双击监听
    mui.init({
        gestureConfig:{
            doubletap:true
        },
        subpages:[{
            url:'_index2_list.html',
            id:'_index2_list.html',
            styles:{
                top: '0px',
                bottom: '0px',
            }
        }]
    });


</script>

</html>


