<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="flexible" content="initial-dpr=2" />
    <link rel="stylesheet" href="__STATICS__/flexible/flexible.css">
    <script src="__STATICS__/flexible/flexible.js"></script>
    <link rel="stylesheet" href="__STATICS__/swiper/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" href="__CSS__/index/index.css">
    <link rel="stylesheet" type="text/css" href="__STATICS__/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="__CSS__/index/styles.css">
    <!-- <link rel="stylesheet" type="text/css" href="__STATICS__/photoswipe/css/photoswipe.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="__STATICS__/photoswipe/css/default-skin.css" /> -->
    <style>
        header.head {
            background: url(__IMG__/branch/head_bg2.png) no-repeat;
            width: 100%;
            height: 5.5rem;
            background-size: 100% 100%;
        }

        .title_img>.title .inwrap .position li>.sign_in {
            background: url(__IMG__/index/attendance.png) no-repeat 0 90%;
            background-size: 80%;
        }

        .title_img>.title .inwrap .position {

            left: -50%;
        }

        .banner .swipe .left span {
            background: url(__IMG__/index/left.png) no-repeat 44px 85px;
        }

        .hide {
            display: none;
        }

        .article_list {
            margin: 10px;
        }

        .article_list ul {
            list-style-type: none;
            width: 100%;
            margin-bottom: 20px;
        }

        .article_list h3 {
            font-weight: 400;
            color: #333;
            font-size: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .article_list li img {
            float: left;
            width: 25%;
            margin: 0 10px 0 0;
        }

        .article_list li p {
            font-size: 12px;
            color: #757575;
            margin-top: 0.5rem;
            line-height: 1.3em;
        }

        .article_list a li {
            /*margin:0px 10px; */
            padding: 10px 0px;
            overflow: auto;
            border-top: 1px solid #dedede;
        }

        .article_list li:hover {
            background: #eee;
            cursor: pointer;
        }

        .article_list a {
            text-decoration: none;
        }

        .loading_text {
            color: #999;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="banner">
        <img class="logo" src="__IMG__index/logo.png" alt="logo" />
        <div class="btn-box" id="btn-div">
            <a class="btn-item item-left">
                <div class="content-box">
                    <i class="icon"></i>
                    <p class="text">团建</p>
                </div>
            </a>
            <a class="btn-item item-top">
                <div class="content-box">
                    <i class="icon"></i>
                    <p class="text">工会</p>
                </div>
            </a>
            <a class="btn-item item-right">
                <div class="content-box">
                    <i class="icon"></i>
                    <p class="text">院建</p>
                </div>
            </a>
            <a class="btn-item item-bottom">
                <div class="content-box">
                    <i class="icon"></i>
                    <p class="text">纪检</p>
                </div>
            </a>
            <a class="btn-item item-center" href="__ROOT__/Mob/Index/index">

                <div class="content-box">
                    <i class="icon"></i>
                    <p class="text">党建</p>
                </div>
            </a>
        </div>
    </div>
    <div class="list_head" active_id='22'>
        <div class="dynamic item active">
            <span></span>本院新闻</div>
        <!-- <div class="middle item ">
            <span></span>本院动态</div> -->
        <div class="everyday item" alt="1">
            <span></span>通知公告</div>
    </div>
    <div id="left">
        <div class="article_list">
            <ul>

                <div style="text-align:center" id="loading_div">

                </div>
                <div class="text_topic">
                    <p class="loading_text" style="text-align:center;">没有更多</p>
                    <i class="fa fa-spinner fa-spin" style="display:block"></i>
                </div>
            </ul>

        </div>
    </div>
    <div style="display:none">
        <div id="temp1">
            <a href="#url#"  aid='#id#'>
                <li alt="#time#" style="text-align:left;" aid='#id#'>
                    <img src="__ROOT__/Uploads/#img_url#-s.png" />
                    <h3 style="text-indent:0.5rem;">#title#</h3>
                    <p>#content#</p>
                </li>
            </a>
        </div>
        <div id="temp2">
            <a href="#url#" aid='#id#'>
                <li alt="#time#" style="text-align:left;" >
                    <h3 style="text-indent:0.5rem;">#title#</h3>
                    <p>#content#</p>
                </li>
            </a>
        </div>
    </div>

    <include file="Common/_new_taizhang_model" />

    <!-- PhotoSwipe begin -->
    <!--<div id="Gallery">-->
    <!--<volist name="imgs" id="vo">-->
    <!--<div class="am-u-sm-12 gallery-item" style="margin-bottom:15px;"><a href="{$vo.image|show_img='middle'}"><img class="show-img" src="{$vo.image|show_img='middle'}" alt="我的实验照片"></a></div>-->
    <!--</volist>-->
    <!--</div>-->
    <!-- PhotoSwipe end -->

    <script src="__STATICS__/swiper/js/swiper-3.3.1.min.js"></script>
    <script src="__STATICS__/zepto/zepto.js"></script>
    <script src="__STATICS__/zepto/event.js"></script>
    <script src="__STATICS__/zepto/touch.js"></script>
    <!-- <script src="__STATICS__/photoswipe/js/photoswipe.min.js"></script>
<script src="__STATICS__/photoswipe/js/photoswipe-ui-default.min.js"></script> -->
    <script src="__JS__/index/index.js"></script>



</body>

<script src="__JS__/index/index.js"></script>
<script>
    var __root__ = "__ROOT__";
    var current_tag = 22;//初始栏目值
     $('#btn-div').find('a').click(function(){
         if($(this).attr('href') == undefined){
             alert('正在建设中……')
         }
     })
    var item_flag = '';
    $(".everyday").click(function () {
        $(".everyday").addClass('active');
        $(".middle").removeClass('active');
        $(".dynamic").removeClass('active');
        $("#right").hide();
        $("#left").show();
		$('.list_head').attr('active_id',21);
        ajax_loading(21,0);
    });
    //$(".middle").click(function () {
    //    $(".middle").addClass('active');
    //    $(".everyday").removeClass('active');
     //   $(".dynamic").removeClass('active');
     //   $("#right").hide();
    //    $("#left").show();
    //    ajax_loading(1,0);
   // });
    $(".dynamic").click(function () {
        $(".dynamic").addClass('active');
        $(".middle ").removeClass('active');
        $(".everyday").removeClass('active');
        $("#right").hide();
        $("#left").show();
		$('.list_head').attr('active_id',22);
        ajax_loading(22,0);
    });

    $(window).load(function () {
        ajax_loading(current_tag,0);
        console.log('chushi'+current_tag)
    });

    function ajax_loading(tag_id,last_id) {

        var publish_time = 0;
        var obj = $("#left .article_list");
        obj.find(".text_topic").css("display","none");
        if(current_tag != tag_id){
            current_tag = tag_id;
            obj.find("#loading_div").empty();
        }
      //  console.log(tag_id)
        publish_time = obj.find("li").last().attr("alt");
    //    console.log(publish_time)
		var filter_arr = new Array();
	 
        $.ajax({
            data: {
                'type_name': tag_id,
                'publish_time': publish_time,
				'last_id':last_id
            },
            type: 'POST',
            dataType: 'json',
            url: '__ROOT__/Mob/Index/ajaxNeWIndexLoading',
            success: function (data) {
                obj.find("i").hide();
                if (data["status"] == 0) {
                 //   console.log(data.data)
                    if (data.data != undefined ) {
                        var html = "";
                        var html_tem = "";
                        $.each(data['data'], function (i, vo) {
                            if (vo['cover_path'] == null || vo['cover_path'] == '') {
                                html_tem = $("#temp2").html();
                            } else {
                                html_tem = $("#temp1").html();
                                html_tem = html_tem.replace("#img_url#", vo['cover_path']);
                            };
                             html_tem = html_tem.replace("#id#",vo['id']);
                            if (vo['is_url'] == 1) {
                                html_tem = html_tem.replace("#url#", vo['spider_url']);
                            } else {
                                html_tem = html_tem.replace("#url#", '__ROOT__/Mob/Notes/article?id=' + vo['id']);
                            };
                            html_tem = html_tem.replace("#title#", vo['title']);
                            html_tem = html_tem.replace("#content#", vo['content']);
                            html_tem = html_tem.replace("#time#", vo['published_at']);
                            html += html_tem;
                        });
                            obj.find("#loading_div").append(html);
                    } else {
                        obj.find(".text_topic").css("display","block");
                    };
                } else {
                    //    alert('网络异常');
                };

            },
            error: function (data) {
                obj.find("i").addClass("hide");
                //    alert('网络异常');
            }
        })
    }

    $(window).on("scroll", function () {
   //     console.log('dd')
//	console.log($(this).scrollTop())
//	console.log($(document).height())
//	console.log($(window).height())
        if ($(this).scrollTop() >= $(document).height() - $(this).height() && $(this).scrollTop() > 40) {
        	//  alert($(this).scrollTop())
	  //  console.log($("#left .article_list").find('.text_topic').css('display'))
		  var flag = false;
		  var  active_id = $('.list_head').attr('active_id')
		   if(current_tag == active_id){
			flag = true
		   }
           if ( $("#left .article_list").find('.text_topic').css("display") == 'none' && flag ) {
               // console.log('scroll'+current_tag)
				//获取当前list中的id
				
				 var last_id = $('#loading_div').find('a').last().attr('aid')
	//			console.log(load_article);
                ajax_loading(current_tag,last_id);
            }
        }
    })
</script>

<script type="text/javascript">
    function loading_page() {
        event.preventDefault();
        alert("url");
    }
    function btn_back(now_obj, old_obj) {
        this.now_obj = now_obj;
        this.old_obj = old_obj;
    };
    //      btn_back.prototype.go=function(){
    //         //应该有之前dom的对象，调
    //      }

    $("#taizhang_add").click(function () {
        $(".blacktype_box").show();
        //        temp_id=$(this).find('img').attr("alt");//不需要模板了
    })
    $(".spec_cancle").click(function () {
        $(".blackspec_box").hide();
    })
    $(".spec_sure").click(function () {
        $(".blackspec_box").hide();
        $(".blacktype_box").show();


    })

    $(".tag_cancle").click(function () {
        $(".blacktag_box").hide();
    })
    $(".type_cancle").click(function () {
        $(".blacktype_box").hide();
    })
    $(".type_sure").click(function () {
        $(".blacktype_box").hide();
        $(".blacktag_box").show();
    })
    // $(".group_cancle").click(function () {
    //     $(".blackgroup_box").hide();
    // })
    // $(".group_sure").click(function () {
    //     $(".blackgroup_box").hide();
    //     $(".blacktag_box").show();
    // })


    //改这里就可以了
    $(".tag_sure").click(function () {
        // $(".blacktag_box").hide();
        // var spec_id = $(".blackspec_box .active").attr("data-id");
        var tag_id = $(".blacktag_box .active").attr("data-id");
        // var group_id = $(".blackgroup_box .active").attr("data-id");
        var type_id = $(".blacktype_box .active").attr("data-id");
        var url = "__ROOT__/Mob/Index/newtaizhang?type_id=" + type_id + "&tag_id=" + tag_id;

        window.location.href = url;
    })



    $(".tag_classify>span").click(function () {

        $(this).addClass("active");
        $(this).siblings().removeClass("active");
        $(this).siblings().find("span").removeClass("active");

    })

    //选中指标active
    function addActive(thisA) {
        $(thisA).addClass("active");
        $(thisA).siblings().removeClass("active");
        $(thisA).siblings().find("span").removeClass("active");
    }

    $(".type_classify>span").click(function () {

        $(this).addClass("active");
        $(this).siblings().removeClass("active");
        $(this).siblings().find("span").removeClass("active");

    })

    $(".spec_classify>p").click(function () {

        $(this).addClass("active");
        $(this).siblings("p").removeClass("active");
    })
</script>

</html>
