<!DOCTYPE html>
<html>
<head>
    <!--by 0o晓月メ http://www.cnblogs.com/final-elysion/p/6092675.html-->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>compress pic to base64</title>

    <script type="text/javascript">


    </script>


</head>

<body >
<input type="file" name="fileToUpload" id="fileToUpload"/> <br />
<input type="text" name="compressValue" id="compressValue" style="display:none;" /><br/>
<input type="button" onclick="uploadBtnClick()" value="上存" /><br/>
<div id='displayValue' style="word-spacing: normal;word-wrap: break-word;"></div>

</body>
</html>