<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="__CSS__Tasks/tasksPool.css" />
        <script src="__JS__tasks/tasksPool.js"></script>
        <title>{$title}</title>
    </head>
    <body>
        <div class="g-full-flex" id="app">

            <div class="g-nav-bar">
                <div class="back-btn" onclick="goback()"></div>
                <span class="nav-title">{$title}</span>
            </div>

            <div class="g-content-container">

                <include file="_top"/>

                <div class="branch-list">
                    <volist name="branchTasks" id="vo">
                    <div class="branch-item">
                        <a href="__ROOT__/Mob/Tasks/detail?id={$vo.id}&monitor={$monitor}">
                        <div class="middle-content">
                            <div class="content-left">
                                <p class="branch-tasks-title">{$vo.tasks_title}</p>
                                <p class="branch-member" style="text-indent: 14px;">发布人：
                                    <span class="default-font-color">{$vo.PublishUser}</span>
                                </p>
                                <p class="branch-member">发布日期：
                                    <span class="default-font-color">{$vo.create_at}</span>
                                </p>
                                <p class="branch-member">开始时间：
                                    <span class="default-font-color">{$vo.start_date}</span>
                                </p>
                                <p class="branch-member">结束时间：
                                    <span class="default-font-color">{$vo.end_date}</span>
                                </p>
                            </div>
                            <div class="content-right">
                               <span class="right-btn {$vo.status_style}">{$vo.status_txt}</span>
                               <div class="right-text-box">
                                   <p>
                                       <span class="branch-num">{$vo.complete}</span>
                                       <span class="branch-member">人已完成</span>
                                   </p>
                                   <p>
                                       <span class="branch-num">{$vo.overdue}</span>
                                       <span class="branch-member">人未完成</span>
                                   </p>
                               </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    </volist>
                </div>

                <if condition="empty($branchTasks)">
                    <div class="no-data"></div>
                </if>
            </div>
    </body>
</html>
