<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="__CSS__Tasks/tasksPool.css" />
        <script src="__JS__tasks/tasksPool.js"></script>
        <title>{$title}</title>
    </head>
    <body>
        <div class="g-full-flex" id="app">

            <div class="g-nav-bar">
                <div class="back-btn" onclick="goback()"></div>
                <span class="nav-title">{$title}</span>
            </div>

            <div class="g-content-container">

                <include file="_top"/>

                <div class="branch-list">
                    <volist name="branch" id="vo">
                    <div class="branch-item">
                        <a href="__ROOT__/Mob/Tasks/branchTasksPool?branchId={$vo.id}&branchName={$vo.name}">
                        <div class="middle-content">
                            <i class="img" style="background-image: url({$vo.cover});"></i>
                            <div class="info">
                                <p class="branch-name">{$vo.name}</p>
                                <p class="branch-sj"><span>支部书记：</span>{$vo.sj_realname}</p>
                                <p>
                                    <span class="branch-member">支部成员：</span>
                                    <volist name="vo.wy" id="v">
                                        <span class="member-item">{$v}</span>
                                    </volist>
                                </p>
                                <p class="bottom-text">
                                    <span>任务总数： <span class="branch-num">{$vo.total}</span></span>
                                    <span>未完成： <span class="branch-num">{$vo.overdue}</span></span>
                                    <span>已完成： <span class="branch-num">{$vo.complete}</span></span>
                                </p>
                            </div>
                        </div>
                        </a>
                    </div>
                    </volist>
                </div>

                <if condition="empty($branch)">
                    <div class="no-data"></div>
                </if>
            </div>
    </body>
</html>
