<div lass="am-u-sm-12 am-u-md-12 ">
    <section class="am-panel am-panel-success " style="margin: 0 2%;border-radius: 5px">
        <header class="am-panel-hd">
            <h3 class="am-panel-title">
                投票统计
                <button type="button" style="" class="am-btn-secondary am-fr" id="export-excel">导出 excel</button>
            </h3>
        </header>
        <div class="am-panel-bd">
            <div class="am-g">
                <div class="am-u-sm-12"><span>投票名称：{$detail.title}</span></div>
                <div class="am-u-sm-12"><span>参与人数：{$detail.people_count}</span></div>
                <div class="am-u-sm-12"><span>总投票数：{$detail.total_count}</span></div>
            </div>

        </div>
    </section>
</div>