<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="../global.css" />
        <link rel="stylesheet" href="styles.css" />

        <title></title>
    </head>
    <body>
        <div class="g-full-flex">
            <div class="g-nav-bar">
                <div class="back-btn"></div>
                <span class="nav-title">新增进度</span>
            </div>

            <div class="g-content-container todo-create">
                <div class="todo-create__form">
                    <div class="todo-create__form-item">
                        <div class="title">办理时间</div>
                        <div class="value">
                            <span class="date-text">2019-02-10</span>
                            <input type="date" name="start-time" class="date-input" />
                        </div>
                    </div>
                    <div class="todo-create__form-item">
                        <div class="title">办理情况</div>
                        <div class="value">
                            <textarea name="detail" class="text-area" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="todo-create__form-item">
                        <div class="title">附件</div>
                    </div>
                    <div class="g-attachment-list">
                        <div class="item"><i class="img jpg"></i><span class="name">尼古拉斯</span><i class="remove"></i></div>
                        <div class="item"><i class="img png"></i><span class="name">尼古拉斯</span><i class="remove"></i></div>
                        <div class="item"><i class="img gif"></i><span class="name">尼古拉斯</span><i class="remove"></i></div>
                        <div class="item"><i class="img add"></i><span class="name"></span></div>
                    </div>
                </div>

                <div class="todo-create__bottom-box">
                    <div class="btn orange">办结</div>
                    <div class="btn red">提交</div>
                </div>
            </div>
        </div>
    </body>
</html>
