<extend name="./Application/Common/View/Common/base.html"/>
<block name="styles">
    <link href="__CSS__/public_2.css" rel="stylesheet">
    <link href="__CSS__/class/index.css" rel="stylesheet">
    <link href="__CSS__/page.css" rel="stylesheet">
</block>
<block name="nav">
    <include file="./Application/Common/View/Common/nav.html"/>
</block>

<block name="content">
    <div class="line"></div>
   	<div class="content"> 
		<include file="Common/_nav"/>
		<div class="side_nav_right tests">
			<ol class="breadcrumb" style="margin-top:20px;">
			  <li><a href="__ROOT__/Center/Exam/index">测试管理</a></li>
			  <li class="active">答题名单</li>
			</ol>
				<include file="_analysis"/>
				<div class="table-responsive table_padding">
				  <table class="table table-striped">
				    <include file="_answerer"/>


				  </table>
				</div>
		</div>
	</div>
</block>

<block name="scripts">
	<script type="text/javascript">
	$(document).ready(function(){ 
		var height = $(".side_nav_right").height();
		if ($(".side_nav_right").height() > $(".side_nav_left").height()) {
			$(".side_nav_left").height(height);
		};
	});
	</script>

</block>

