<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">奖励机制</strong>/<span style="font-size: 15px">奖品兑换明细</span> </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button  onclick="loading_page('__ROOT__/Admin/Reward/index');" type="button" class="am-btn am-btn-default">首页</button>
                        <button  onclick="loading_page('__ROOT__/Admin/Reward/rewardDetail');" style="margin-left: 10px" type="button" class="am-btn am-btn-default am-btn-primary">兑换申请列表</button>
                        <button  onclick="loading_page('__ROOT__/Admin/Reward/receive');" style="margin-left: 10px" type="button" class="am-btn am-btn-default">
                           领取列表
                        </button>
                    </div>
                </div>
            </div>
            <!--<form class="am-u-sm-12 am-u-md-3" id="search-form" action="__ROOT__/Admin/PartyBranch/honor">-->
                <!--<div class="am-input-group am-input-group-sm">-->
                    <!--<input type="text" class="am-form-field" name="keyword" value="{$search.keyword}">-->
                        <!--<span class="am-input-group-btn">-->
                            <!--<button class="am-btn am-btn-default" type="submit">搜索</button>-->
                        <!--</span>-->
                <!--</div>-->
            <!--</form>-->
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-title am-text-center" id="btn-dec">序号</th>
                            <!--<th class="table-type">支部名称</th>-->
                            <th class="table-author am-text-center am-hide-sm-only">姓名</th>
                            <th class="table-author am-text-center am-hide-sm-only">支部</th>
                            <th class="table-author am-text-center am-hide-sm-only">奖品</th>
                            <th class="table-date am-text-center am-hide-sm-only">积分</th>
                            <th class="table-date am-text-center am-hide-sm-only">申请时间</th>
                            <th class="table-date am-text-center am-hide-sm-only">状态</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="page.list" id="item" key="index">
                            <tr>
                                <td class="am-text-center">{$index}</td>
                                <td class="am-text-center">{$item.realname}</td>
                                <td class="am-text-center">{$item.branch_name.name}</td>
                                <td class="am-text-center">{$item.name}</td>
                                <td class="am-text-center">{$item.point}</td>
                                <td class="am-text-center">{$item.create_time|date="Y-m-d",###}</td>
                                <td class="am-text-center">
                                    <if condition="$item.status == 0">
                                        <span class="am-badge am-badge-warning am-radius" style="margin-top: 6px">审核中</span>
                                        <elseif condition="$item.status == 1"/>
                                        <span class="am-badge am-badge-success am-radius" style="margin-top: 6px">已通过</span>
                                        <elseif condition="$item.status == -1"/>
                                        <span class="am-badge am-badge-default am-radius" style="margin-top: 6px">不通过</span>
                                        <else/>
                                    </if>
                                </td>
                                <td>
                                    <!--<div class="am-btn-group am-btn-group-xs">-->
                                    <if condition="$item.status == -1">
                                        <button type="button" class="am-btn am-btn-xs am-btn-danger am-round un_pass" data-id="{$item.id}" data-point="{$item.point}" style="color:white;background-color: #ce3d37">不通过</button>
                                        <else/>
                                        <button type="button" class="am-btn am-btn-xs am-btn-success am-round pass" data-id="{$item.id}" style="color:white;background-color: #4db14d">通过</button>
                                        <button type="button" class="am-btn am-btn-xs am-btn-danger am-round un_pass" data-id="{$item.id}" data-point="{$item.point}" style="color:white;background-color: #ce3d37">不通过</button>
                                    </if>
                                    <!--</div>-->
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="page">
                        {$page.show}
                    </div>
                    <hr />
                </form>
            </div>

        </div>

    </div>
</block>
<block name="scripts">

    <script>
        var id = 0;
        var point = 0;
        $('.pass').click(function(){
            id = $(this).attr('data-id');
            $.ajax({
                url:'__ROOT__/Admin/Reward/verify',
                type:'POST', //GET
                data:{
                    id:id,
                    status: '1',
                },
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success:function(data){
                    if(data.status == 0){
                        window.location.reload();
                    }else{
                        alert_modal(data.msg);
                    }
                },
                closeOnConfirm: false,
                error:function(xhr,textStatus){
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        });

        $('.un_pass').click(function(){
            id = $(this).attr('data-id');
            point = $(this).attr('data-point');
            $.ajax({
                url:'__ROOT__/Admin/Reward/verify',
                type:'POST', //GET
                data:{
                    id:id,
                    status: -1,
                    point:point
                },
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success:function(data){
                    if(data.status == 0){
                        window.location.reload();
                    }else{
                        alert_modal(data.msg);
                    }
                },
                closeOnConfirm: false,
                error:function(xhr,textStatus){
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        });

    </script>

</block>
