<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache" >
    <meta http-equiv="cache-control"content="no-cache">
    <meta http-equiv="expires"content="0">
    <meta name="flexible" content="initial-dpr=2" />
    <link rel="stylesheet" href="__STATICS__/flexible/flexible.css">
    <script src="__STATICS__/flexible/flexible.js"></script>
    <link rel="stylesheet" href="__STATICS__/swiper/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/temporary_talk/temporary_chat.css"/>
</head>
<body>
<div class="bg"></div>
<div class="page">
    <header class="head"><i onclick="history.go(-1);"></i></header>
    <div class="container">
        <ul class="chat">
            <li>
                <div class="head"><div class="head_bg"><img src="../images/leave/head/hou.png" alt=""></div></div>
                <div class="content">
                    <div class="name">侯亮平局长</div>
                    <div class="main">
                        <div class="text">
                            4月7日，珠海国税创建税企联合党建基地暨个性化纳税服务备忘录签署活动启动仪式在中海石油深海开发有限公司举行。
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="head"><div class="head_bg"><img src="../images/leave/head/gao.png" alt=""></div></div>
                <div class="content">
                    <div class="name">高育良书记</div>
                    <div class="main">
                        <div class="text">
                            全国各级国税部门要学习被命名的单位的好做法、好经验，扎实推进法治税务建设开展。
                        </div>
                    </div>
                </div>
            </li>
            <li class="active_me">
                <div class="content">
                    <div class="name">高育良书记</div>
                    <div class="main">
                        <div class="text">
                            全国各级国税
                        </div>
                    </div>
                </div>
                <div class="head"><div class="head_bg"><img src="../images/leave/head/gao.png" alt=""></div></div>
            </li>
            <li class="active_me">
                <div class="content">
                    <div class="name">高育良书记</div>
                    <div class="main">
                        <div class="text">
                            全国各级国税部门要学习被命名的单位的好做法、好经验，扎实推进法治税务建设开展。
                        </div>
                    </div>
                </div>
                <div class="head"><div class="head_bg"><img src="../images/leave/head/gao.png" alt=""></div></div>
            </li>
            <li>
                <div class="head"><div class="head_bg"><img src="../images/leave/head/gao.png" alt=""></div></div>
                <div class="content">
                    <div class="name">高育良书记</div>
                    <div class="main">
                        <div class="text">
                            全国各级国税部门要学习被命名的单位的好做法、好经验，扎实推进法治税务建设开展。
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="head"><div class="head_bg"><img src="../images/leave/head/gao.png" alt=""></div></div>
                <div class="content">
                    <div class="name">高育良书记</div>
                    <div class="main">
                        <div class="text">
                            全国各级国税部门要学习被命名的单位的好做法、好经验，扎实推进法治税务建设开展。
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="head"><div class="head_bg"><img src="../images/leave/head/gao.png" alt=""></div></div>
                <div class="content">
                    <div class="name">高育良书记</div>
                    <div class="main">
                        <div class="text">
                            全国各级国税部门要学习被命名的单位的好做法、好经验，扎实推进法治税务建设开展。
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <div class="foot">
            <input type="text" onfocus="change_send()">
            <a class="send">发送</a>
        </div>
    </footer>
</div>
<script src="__STATICS__/swiper/js/swiper-3.3.1.min.js"></script>
<script src="__STATICS__/zepto/zepto.js"></script>
<script src="__STATICS__/zepto/event.js"></script>
<script src="__STATICS__/zepto/touch.js"></script>
<script src="__JS__/temporary_talk/temporary_chat.js"></script>
</body>
</html>
