<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__STATICS__/mui/mui.min.css">
    <link rel="stylesheet" href="__STATICS__/flexible/flexible.css">
    <script src="__STATICS__/flexible/flexible.js"></script>
    <link rel="stylesheet" href="__STATICS__/swiper/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/temporary_talk/temporary_member.css"/>

</head>

<body>
<div class="bg"></div>
<div class="page">
    <!--给临时党支部添加人员-->
    <input type="hidden" id="branch-name" value="{$branchName}">
    <div class="add_user">
        <header class="head">
            <a class="cancel" onclick="history.go(-1);"><div class="item cancel">取消</div></a>
            <div class="item center">临时党支部</div>
            <a class="chat"><div class="item right">发起</div></a>
        </header>
    </div>
</div>
</body>
<script src="__STATICS__/swiper/js/swiper-3.3.1.min.js"></script>
<script src="__STATICS__/mui/mui.min.js"></script>
<script src="__STATICS__/zepto/zepto.js"></script>
<script src="__STATICS__/zepto/event.js"></script>
<script src="__STATICS__/zepto/touch.js"></script>
<script src="__JS__/temporary_talk/temporary_member.js"></script>
    <include file="Common/_menu"/>
<script type="text/javascript">
    var branchName = $("#branch-name").val();
    console.log("branchName ====" + branchName);
    //启用双击监听
    mui.init({
        gestureConfig:{
            doubletap:true
        },
        subpages:[{
            url:'_sub_temporary_member.html',
            id:'_sub_temporary_member.html',
            styles:{
                top: '45px',
                bottom: '0px',
            }
        }]
    });

    var contentWebview = null;
    document.querySelector('header').addEventListener('doubletap',function () {
        if(contentWebview==null){
            contentWebview = plus.webview.currentWebview().children()[0];
        }
        contentWebview.evalJS("mui('#pullrefresh').pullRefresh().scrollTo(0,0,100)");
    });
</script>

</html>