<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache" >
    <meta http-equiv="cache-control"content="no-cache">
    <meta http-equiv="expires"content="0">
    <meta name="flexible" content="initial-dpr=2" />
    <link rel="stylesheet" href="__STATICS__/flexible/flexible.css">
    <script src="__STATICS__/flexible/flexible.js"></script>
    <link rel="stylesheet" href="__STATICS__/swiper/css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/temporary_talk/temporary_member.css"/>
</head>
<body>
<div class="bg"></div>
<div class="page">
    <!--给临时党支部添加人员-->
    <input type="hidden" id="branch-name" value="{$branchName}">
    <div class="add_user">
        <header class="head">
            <a onclick="history.go(-1);" class="cancel"><div class="item cancel">取消</div></a>
            <div class="item center">临时党支部</div>
            <a class="chat"><div class="item right">发起(<span></span>)</div></a>
        </header>
        <div class="search">
            <i></i><input type="search" placeholder="搜索">
        </div>
        <ul class="list">
            <volist name="userList" id="item">
                <li class="item{$item.uid}">
                    <i data-id="{$item.uid}"></i>
                    <div class="portrait"><img align="middle" src="{$item.headimgurl|show_img}" alt=""></div>
                    <span class="name">{$item.realname}</span>
                </li>
            </volist>
        </ul>
    </div>
</div>
<script src="__STATICS__/swiper/js/swiper-3.3.1.min.js"></script>
<script src="__STATICS__/zepto/zepto.js"></script>
<script src="__STATICS__/zepto/event.js"></script>
<script src="__STATICS__/zepto/touch.js"></script>
<script src="__JS__/temporary_talk/temporary_member.js"></script>
</body>
</html>
