<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <a href="#" onClick="javascript :history.back(1);"><strong
                        class="am-text-primary am-text-lg">奖盘方格配置</strong></a> /
                <small>编辑奖盘方格</small>
            </div>
        </div>

        <hr>

        <div class="am-tabs-bd" style='margin:20px;    border: 1px solid #ddd;'>
            <div class="am-tab-panel am-fade am-in am-active">
                <form class="am-form">

                    <empty name="detail"><else/><input type="hidden" name="id" value="{$detail.id}"></empty>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            方格编号
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <input disabled type="text" class="am-input-sm" name="username" value="顺时针第{$detail.code|add_one}格">
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            积分值
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <input type="number" class="am-input-sm" name="point" value="{$detail.point}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            中奖率(%)
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <input type="number" class="am-input-sm" name="probability" value="{$detail.probability}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"> >= 0 and <= 100</div>
                    </div>
                </form>
            </div>
        </div>

        <div class="am-margin">
            <button type="button" class="am-btn am-btn-primary am-btn-xs" id="btn-save" >提交保存</button>
            <button type="button" class="am-btn am-btn-primary am-btn-xs" id="btn-cancel">放弃保存</button>
        </div>
    </div>
</block>
<block name="scripts">
    <script>
        $('#btn-cancel').click(function(){
            $('#confirm-text').text('确认取消编辑吗?');
            $('#my-confirm').modal({
                relatedTarget: this,
                onConfirm: function(options) {
                    javascript :history.back(1);
                },
                onCancel: function() {

                }
            });
        });

        $('#btn-save').click(function(){

            $.ajax({
                url:'__ROOT__/Admin/SignInPrize/ajaxSavePrizeConfig',
                type:'POST', //GET
                data:$('.am-form').serialize(),
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success:function(data){
                    if(data.status == 0){
                        loading_page('__ROOT__/Admin/SignInPrize/signInPrizeConfigList?p={$p}');
                    }else{
                        alert_modal(data.msg);
                    }
                },
                error:function(xhr,textStatus){
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        });
    </script>
</block>
