<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="../global.css" />
        <link rel="stylesheet" href="./styles.css" />

        <title>主题党日-列表页面</title>
    </head>
    <body class="g-full-flex">
        <div class="g-nav-bar">
            <div class="back-btn"></div>
            <span class="nav-title">主题当日活动</span>
        </div>

        <div class="g-content-container party-day">
            <div class="g-search-box-with-bg">
                <div class="content">
                    <input type="text" class="search-input" maxlength="10" placeholder="请输入搜索内容" />
                    <div class="search-btn"></div>
                </div>
            </div>

            <div class="g-horizontal-scroll-list">
                <div class="item">
                    <i class="img" style="background-image:url('http://b-ssl.duitang.com/uploads/item/201610/19/20161019130633_LcaxW.thumb.700_0.jpeg')"></i
                    ><span class="name active">第一党支部</span>
                </div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
            </div>

            <div class="list-title">第一支部主题党日活动</div>

            <div class="activity-list">
                <div class="activity-item">
                    <div class="line-top"><span class="name">家庭财产法律知识讲座（第二期）</span><span class="status doing">进行中</span></div>

                    <div class="line-bottom"><span>发布人：梁小军</span><span>开始日期：2018-10-20 14:30</span></div>
                </div>
                <div class="activity-item">
                    <div class="line-top"><span class="name">家庭财产法律知识讲座（第二期）</span><span class="status ready">待开始</span></div>

                    <div class="line-bottom"><span>发布人：梁小军</span><span>开始日期：2018-10-20 14:30</span></div>
                </div>
                <div class="activity-item">
                    <div class="line-top"><span class="name">家庭财产法律知识讲座（第二期）</span><span class="status finished">已结束</span></div>

                    <div class="line-bottom"><span>发布人：梁小军</span><span>开始日期：2018-10-20 14:30</span></div>
                </div>
            </div>
        </div>
    </body>
</html>
