/*党员发展*/
body>.bg{
	position: fixed;
	width:100%;
	height:100%;
	background: url("../../../images/member_develop/bg.png") no-repeat;
	background-size: cover;
	z-index: -99;
}
body>.page{
	display: flex;
	min-height: 100%;
}
.page>.nav_ul{
	width: 27%;
	position: fixed;
	top:0;
	left:0;
}
/*.page .nav_ul li{*/
	/*background: rgba(0, 0, 0, 0.1);*/
	/**/
	/*float: left;*/
    /*width: 25%;*/
/*}*/

.page .nav_ul li{
	background: rgba(0, 0, 0, 0.1);
	border-bottom:1px solid #a03a3a;
}
.page .nav_ul li:last-child>.container>p{
	width:60%;
	margin:0.25rem 0 0 0.36rem;
}
.page .nav_ul li:last-child>.container>span.icon{
	top:-0.1rem;
}
.container{
	padding: 9% 0;
}
.container>span.icon{
	display: inline-block;
	width:2px;
	height:0.35rem;
	background-color: #ffffff;
	position: relative;
	top:0.4rem;
}
.container>span.active{
	visibility:hidden;
}
.container>i{
	width: 0.35rem;
	height: 0.35rem;
	background: url(../../../images/member_develop/sign.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 19%;
}
.container .navImg{
	width: 1rem;
	height: 1rem;
	margin: 0 auto;
}
.container .navImg img{
	width: 100%;
}
.whenTab{
	background: rgba(0,0,0,0.18)!important;
}
.container p{
	text-align: center;
	color: #b79298;
	display: inline-block;
	width:100%;
	margin-bottom: 0.08rem;
	font-size: 10px;
}
.container p.active{
	color: #ffffff;
	font-size: 12px;

}
.content_ul{
	width:72%;
	position: absolute;
	right:0;
	top:0;
}
.show{
	display: block;
}
.hide{
	display: none;
}
.content_ul li{
	background: rgba(255, 173, 196, 0.2);
	border-radius: 5px;
	width: 90%;
	margin: 3% auto;
}
.content_ul li.mark{
	border-bottom: 2px solid #ffd737;
}
.content_ul li a{
	display: block;
}
.left_container{
	display: flex;
}
.left_container .left_img{
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	padding: 5% 0 5% 5%;
}
.left_container .left_img .bg{
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.2);
	margin: auto;
	padding: 3px;
}

.left_container .left_img img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.left_container .detail{
	flex: 3;
	padding-top: 9%;
	padding-left: 5%;
}
.detail .name{
	color: #ffffff;
	font-size: 14px;
}
.detail>p{
	padding-top: 9%;
	color: #c2c2c2;
}
.left_container .detail .icon{
	width: 14px;
	height: 14px;
	background: url(../../../images/member_develop/man.png)no-repeat;
	background-size: 100%;
	position: absolute;
	margin-left:0.15rem;
}
.left_container .detail .icon_sign{
	width: 14px;
	height: 14px;
	background: url(../../../images/member_develop/sign.png)no-repeat;
	background-size: 100%;
	position: absolute;
	margin-left:25px;
}
.left_container .right{
	flex: 1.5;
	padding-top: 19%;
	color: #ffd737;
	font-size: 12px;
}
/*群众*/
.mass_ul>li:first-child{
	height:25px;
	line-height: 25px;
	background-color: transparent;
}
.mass_ul>li:first-child>.nav{
	height:25px;
	color:#fff;
	background-color: rgba(255,173,196,0.2);
	padding:0 10px;
	position: relative;
}
.mass_ul>li:first-child>.nav>i{
	float: right;
	display: inline-block;
	width:10px;
	height:10px;
	background: url("../../../images/member_develop/right_r.png") no-repeat;
	background-size: 100% 100%;
	margin-top:10px;
}



/*筛选遮罩层*/
.screen_shade{
	position: fixed;
	z-index: 1000;
	top: 2.7rem;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(7,17,27,0.8);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.screen_shade>.content{
	width:65%;
	position: absolute;
	right: 14px;
	top:0.21rem;
}
.screen_shade>.content>.title{
	height:25px;
	line-height: 25px;
	color:#fff;
	padding:0 10px;
	background-color: #ce3a3d;
}
.screen_shade>.content>.title>i{
	float: right;
	display: inline-block;
	width:10px;
	height:10px;
	background: url("../../../images/member_develop/middle.png") no-repeat;
	background-size: 100% 100%;
	margin-top:10px;
}
.screen_shade>.content>.list>li{
	color:#333;
	height:25px;
	line-height: 25px;
	background-color: #fff;
	padding-left:0.3rem;
}
.screen_shade>.content>.list>li.active{
	background-color: #f5f5f5;
}