<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="../global.css" />
        <link rel="stylesheet" href="./styles.css" />

        <script src="../lib/vue.min.js"></script>
        <script src="../lib/axios.min.js"></script>
        <script src="../lib/utils.js"></script>

        <title></title>
    </head>
    <body>
        <div class="g-full-flex" id="app">
            <div class="g-nav-bar">
                <div class="back-btn" @click="goback"></div>
                <span class="nav-title">草稿箱</span>
            </div>

            <div class="g-content-container">
                <div class="draft-list">
                    <div class="draft-item" v-for="item in list" :key="item.id">
                        <div class="left">
                            <div class="title">
                                <span class="type" v-text="'【'+item.meeting_type+'】'"></span><span class="sub-text" v-text="item.theme"></span>
                            </div>
                            <div class="date" v-text="'创建时间：'+item.create_at"></div>
                        </div>
                        <div class="right-btn" @click="navToRecord(item.id)">编辑</div>
                    </div>
                </div>
            </div>
        </div>

        <script src="./main.js"></script>
    </body>
</html>
