<extend name="./Application/Admin/View/Common/base.html"/>
<block name="title">
	<title>测试</title>
</block>
<block name="styles">

</block>
<block name="content">
	<div class="breadcrumbs" id="breadcrumbs">

		<ul class="breadcrumb">
			<li> <i class="icon-home home-icon"></i>
				<a href="#">后台</a>
			</li>
			<li class="active">测试</li>
		</ul>
		<!-- .breadcrumb -->	

		<div class="nav-search" id="nav-search">
			<!-- <form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" /> <i class="icon-search nav-search-icon"></i>
				</span>
			</form> -->
		</div>
		<!-- #nav-search -->	
	</div>
	<div class='col-xs-12 col-lg-12 main'>
		<button class="am-btn am-btn-primary" > 测试</button>
	</div>
</block>
<block name="hideinfo"></block>
<block name="scripts">
<script type="text/javascript">

</script>
</block>