<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>组织所在地</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta name="flexible" content="initial-dpr=2" />
		<link rel="stylesheet" href="__STATICS__/flexible/flexible.css">
		<script src="__STATICS__/flexible/flexible.js"></script>
		<link rel="stylesheet" href="__STATICS__/swiper/css/swiper-3.3.1.min.css">
		<link rel="stylesheet" href="__CSS__/reset.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/branch_info/citys.css" />
	</head>

	<body>
		<div class="organ">
			<div class="organer">
				<div class="zhuhai">
					<img src="__IMG__/branch_info/zhuhai.png" alt="#" />
					<div class="page">
						<header class="head">
							<a onclick="history.go(-1);">
								<div class="head_return"><i></i></div>
							</a>
						</header>
					</div>
					<a href="organizations.html" style="padding-right:0;text-align: left;">
						<div style="text-align: left;padding-left: 3%;">
							<h3 style="text-align: left;width: 100%;">&nbsp;&nbsp;珠海</h3>
							<br />
							<p style="text-align: left;width: 100%;padding-left: 70px;">1党委&nbsp;{$count}党支部&nbsp;{$group_count}党小组&nbsp;{$count_party}党员</p>
						</div>
					</a>
				</div>
			
			</div>
		</div>

		<script src="__STATICS__/swiper/js/swiper-3.3.1.min.js"></script>
		<script src="__STATICS__/zepto/zepto.js"></script>
		<script src="__STATICS__/zepto/event.js"></script>
		<script src="__STATICS__/zepto/touch.js"></script>
		<include file="Common/_menu"/>
	</body>

</html>