<!--悬浮按钮4个-->
<div class="buttons">
    <a id="insert-text">
        <div>
            <span>添加</span><span>大标题</span>
        </div>
    </a>
    <a id="insert-single-choice">
        <div>
            <span>添加</span><span>单选题</span>
        </div>
    </a>
    <a id="insert-choice">
        <div>
            <span>添加</span><span>多选题</span>
        </div>
    </a>
    <a id="insert-blank">
        <div>
            <span>添加</span><span>填空题</span>
        </div>
    </a>
    <a id="insert-answer">
        <div class="noline">
            <span>添加</span><span>简答题</span>
        </div>
    </a>
</div>
<!--悬浮按钮4个-->