<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">

    <include file="Common/_top"/>

    <div class="module-title"> 常规学习 </div>

    <div class="modules">
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Article/articles.html?id=1" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_xinwen.png">
                <p>党建新闻</p>
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/articles.html?id=6" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_dnagwuzhisk.png">
                <p>党务工作知识库</p>
            </a>
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Article/articles.html?id=7" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_dangshi.png">
                <p>党史|税史学习</p>
            </a>
        </div>
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Article/articles.html?id=8" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_dnagz.png">
                <p>党章|党内法规学习</p>
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/articles.html?id=9" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_jingm.png">
                <p>警钟长鸣</p>
            </a>
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Article/articles.html?id=10" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_cangshu.png">
                <p>藏书阅读</p>
            </a>
        </div>
    </div>
    <div class="module-title"> 两学一做 </div>
    <div class="modules">
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Article/articles.html?id=11" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_liangxueyiz.png">
                <p>学习通知及指引</p>
            </a>
           <!--  <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Study/standingBook?type=0" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_xuextaiz.png">
                <p>党员先锋台账</p>
            </a>
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Study/standingBookBranch" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_xuextaiz.png">
                <p>支部堡垒台账</p>
            </a> -->
        </div>
       <!--  <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Study/standingBook?type=2" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_xuextaiz.png">
                <p>领导表率台账</p>
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Study/standingBook2?type=3" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_xuextaiz.png">
                <p>党组带头台账</p>
            </a>
            <a class="am-u-sm-4 module" >

            </a>
        </div> -->
    </div>

    <div class="module-title"> 微学习 </div>
    <div class="modules">
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module " href="__ROOT__/Home/Article/articles.html?id=13" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_weidangk.png">
                <p>微党课</p>
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/articles.html?id=14" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_weixianf.png">
                <p>微先锋</p>
            </a>
             <a class="am-u-sm-4 module" href="__ROOT__/Home/Study/weixinde_list.html" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_weixind.png">
                <p>微心得</p>
            </a>
        </div>
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Test/Index/index" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_ceshi.png">
                <p>微测试</p>
            </a>
        </div>
    </div>
    <br/><br/>

</block>
<block name="scripts">

</block>
