<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>
        .topic-block{
            background: rgb(255,255,255);
            margin-bottom: 20px;
        }
        .topic-header{
            border-top: 1px solid rgb(240,240,241);
            display: block !important;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 18px;
            color: rgb(120,120,120);
        }
        .topic-header:active{
            background: white !important;
        }
        .list-area{
            border-bottom: 1px solid rgb(240,240,241);
            display: table;
            padding-left: 30px;
        }
        .list-area:active{
            background: rgb(243,243,243);
        }
        .list-area li{
            display: table-cell;
            height: 80px;
            vertical-align: middle;
            padding-top: 15px;
            padding-bottom: 15px;

        }
        .icon-item{
            width: 55px;
        }
        .icon-item img{
            width: 100%;
        }
        .text-item{
            padding-left: 20px;
        }
        .text-item span{
            font-size: 18px;
            color: rgb(59,59,59);
        }
    </style>
</block>
<block name="content">
    <!--<div>-->
        <!--<img style="width: 100%;" src="__IMG__/bg_03.png">-->
    <!--</div>-->
    <a href="__ROOT__/Home/study/weixinde_detail.html">
    <li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">
        <img src="__IMG__icon_dnagwuzhisk.png" style="float: left; width: 55px; height: 55px">
        <div style="margin-left: 20px; float: left; height: 55px; line-height: 55px; font-size: 20px; color: #333333"> 党务工作知识库心得
        </div>
        <div style="clear: both"></div>
    </li>
    </a>
    <a href="__ROOT__/Home/study/weixinde_detail.html">
    <li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">
        <img src="__IMG__icon_weidangk.png" style="float: left; width: 55px; height: 55px">
        <div style="margin-left: 20px; float: left; height: 55px; line-height: 55px; font-size: 20px; color: #333333"> 微党课学习心得
        </div>
        <div style="clear: both"></div>
    </li>
    </a>
    <a href="__ROOT__/Home/study/weixinde_detail.html">
    <li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">
        <img src="__IMG__/icon_dangshi.png" style="float: left; width: 55px; height: 55px">
        <div style="margin-left: 20px; float: left; height: 55px; line-height: 55px; font-size: 20px; color: #333333"> 党史、税史学习心得
        </div>
        <div style="clear: both"></div>
    </li>
    </a>
    <a href="__ROOT__/Home/study/weixinde_detail.html">
    <li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">
        <img src="__IMG__icon_dnagz.png" style="float: left; width: 55px; height: 55px">
        <div style="margin-left: 20px; float: left; height: 55px; line-height: 55px; font-size: 20px; color: #333333"> 党章、党内法规学习心得
        </div>
        <div style="clear: both"></div>
    </li>
    </a>
    <a href="__ROOT__/Home/study/weixinde_detaill.html">
    <!--<li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">-->
        <!--<img src="__IMG__/study-account.png" style="float: left; width: 55px; height: 55px">-->
        <!--<div style="margin-left: 20px; float: left; height: 55px; line-height: 55px; font-size: 20px; color: #333333"> 台账学习心得-->
        <!--</div>-->
        <!--<div style="clear: both"></div>-->
    <!--</li>-->
    <!--</a>-->
    <a href="__ROOT__/Home/study/weixinde_detail.html">
    <li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">
        <img src="__IMG__icon_weixianf.png" style="float: left; width: 55px; height: 55px">
        <div style="margin-left: 20px; float: left; height: 55px; line-height: 55px; font-size: 20px; color: #333333"> 微先锋学习心得
        </div>
        <div style="clear: both"></div>
    </li>
    </a>

    <!--<li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">-->
        <!--<img src="__IMG__/knowledge.png" style="float: left; width: 55px; height: 55px">-->
        <!--<div style="margin-left: 20px; float: left; height: 55px; color: #333333">-->
            <!--<div style="font-size: 20px; color: #333333; height: 37px; line-height: 37px">常务工作知识库心得</div>-->
            <!--<div style="height: 18px; line-height: 18px; font-size: 14px; color: #aaaaaa">-->
                <!--<span>日期：</span>-->
                <!--<span style="color: #aaaaaa">2016-10-30</span>-->
                <!--<span style="margin-left: 20px">评论：</span>-->
                <!--<span style="color: #aaaaaa">60</span>-->
                <!--<span style="color: #aaaaaa">条</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="clear: both"></div>-->
    <!--</li>-->

    <!--<li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">-->
        <!--<img src="__IMG__/party-history.png" style="float: left; width: 55px; height: 55px">-->
        <!--<div style="margin-left: 20px; float: left; height: 55px; color: #333333">-->
            <!--<div style="font-size: 20px; color: #333333; height: 37px; line-height: 37px">党史、税史学习心得</div>-->
            <!--<div style="height: 18px; line-height: 18px; font-size: 14px; color: #aaaaaa">-->
                <!--<span>日期：</span>-->
                <!--<span style="color: #aaaaaa">2016-10-30</span>-->
                <!--<span style="margin-left: 20px">评论：</span>-->
                <!--<span style="color: #aaaaaa">60</span>-->
                <!--<span style="color: #aaaaaa">条</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="clear: both"></div>-->
    <!--</li>-->

    <!--<li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">-->
        <!--<img src="__IMG__/party-rule.png" style="float: left; width: 55px; height: 55px">-->
        <!--<div style="margin-left: 20px; float: left; height: 55px; color: #333333">-->
            <!--<div style="font-size: 20px; color: #333333; height: 37px; line-height: 37px">党章、党内法规学习心得</div>-->
            <!--<div style="height: 18px; line-height: 18px; font-size: 14px; color: #aaaaaa">-->
                <!--<span>日期：</span>-->
                <!--<span style="color: #aaaaaa">2016-10-30</span>-->
                <!--<span style="margin-left: 20px">评论：</span>-->
                <!--<span style="color: #aaaaaa">60</span>-->
                <!--<span style="color: #aaaaaa">条</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="clear: both"></div>-->
    <!--</li>-->

    <!--<li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">-->
        <!--<img src="__IMG__/study-account.png" style="float: left; width: 55px; height: 55px">-->
        <!--<div style="margin-left: 20px; float: left; height: 55px; color: #333333">-->
            <!--<div style="font-size: 20px; color: #333333; height: 37px; line-height: 37px">台账学习心得</div>-->
            <!--<div style="height: 18px; line-height: 18px; font-size: 14px; color: #aaaaaa">-->
                <!--<span>日期：</span>-->
                <!--<span style="color: #aaaaaa">2016-10-30</span>-->
                <!--<span style="margin-left: 20px">评论：</span>-->
                <!--<span style="color: #aaaaaa">60</span>-->
                <!--<span style="color: #aaaaaa">条</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="clear: both"></div>-->
    <!--</li>-->

    <!--<li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">-->
        <!--<img src="__IMG__/lesson.png" style="float: left; width: 55px; height: 55px">-->
        <!--<div style="margin-left: 20px; float: left; height: 55px; color: #333333">-->
            <!--<div style="font-size: 20px; color: #333333; height: 37px; line-height: 37px">微党课学习心得</div>-->
            <!--<div style="height: 18px; line-height: 18px; font-size: 14px; color: #aaaaaa">-->
                <!--<span>日期：</span>-->
                <!--<span style="color: #aaaaaa">2016-10-30</span>-->
                <!--<span style="margin-left: 20px">评论：</span>-->
                <!--<span style="color: #aaaaaa">60</span>-->
                <!--<span style="color: #aaaaaa">条</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="clear: both"></div>-->
    <!--</li>-->

    <!--<li style="list-style-type: none; margin: 20px 10px; padding: 10px 10px; border-radius: 5px; background: white;">-->
        <!--<img src="__IMG__/pioneer.png" style="float: left; width: 55px; height: 55px">-->
        <!--<div style="margin-left: 20px; float: left; height: 55px; color: #333333">-->
            <!--<div style="font-size: 20px; color: #333333; height: 37px; line-height: 37px">微先锋学习心得</div>-->
            <!--<div style="height: 18px; line-height: 18px; font-size: 14px; color: #aaaaaa">-->
                <!--<span>日期：</span>-->
                <!--<span style="color: #aaaaaa">2016-10-30</span>-->
                <!--<span style="margin-left: 20px">评论：</span>-->
                <!--<span style="color: #aaaaaa">60</span>-->
                <!--<span style="color: #aaaaaa">条</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="clear: both"></div>-->
    <!--</li>-->

</block>
<block name="scripts">

</block>
