<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>
        body{
            background-color: white;
        }

        .main{
            width: 100%;
            position: absolute;
            top: 45px;
            bottom: 0px;
            background: white;
        }

        .header-div{
            height: 60px;
            width: 60px;
            margin: auto;
            border-radius:60px;
            box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
            -moz-border-radius: 60px;
            -webkit-border-radius: 60px;
        }
        .header-div img{
            width:60px;
            height:60px;
            border-radius: 50%;	/* relative value */
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            transition: linear 0.25s;
        }

        .user-name{
            margin-top: 6px;
            text-align: center;
            color: white;
            font-size: 16px;
        }

        .user-branch{
            text-align: center;
            color: white;
            font-size: 14px;
        }

        .post{
            padding: 0px 3px;
            border-radius: 3px;
            background: #FFE600;
            font-size: 12px;
            color: #1a1a1a;
            margin-left: 15px;
        }

        .sex-icon{
            width: 11px;
            margin-left: 5px;
            margin-bottom: 3px;
        }

        .user-point{
            width: 100px;
            height: 20px;
            line-height: 20px;
            border-radius: 9px;
            background: #FFB400;
            font-size: 12px;
            color: white;
            margin: auto;
            margin-top: 5px;
            padding: 0px 20px;
            position: relative;
            text-align: center;
        }
        .user-point img{
            width: 12px;
            position: absolute;
            top: 0px;bottom: 0px;left: 5px;
            margin: auto;
        }

        .item{
            width: 100%;
            height: 90px;
            padding-left: 20px;
            position: relative;
        }

        .time-zhou{
            height: 100%;
            float: left;
        }

        .item-sub{
            height: 100%;
            margin-left: 20px;
            border-bottom: 1px solid #E8E8E8;
            position: relative;
        }

        .date{
            position: absolute;
            left: 0px;
            top: 13px;
            height: 16px;
            line-height: 16px;
            padding: 0px 4px;
            font-size: 12px;
            color: white;
            background: #35B7DD;
            border-radius: 7px;
        }

        .item-content{
            position: absolute;
            left: 0px;
            top: 17px;
            font-size: 16px;
            color: #1a1a1a;
        }

        .item-intro{
            position: absolute;
            left: 0px;
            top: 43px;
            font-size: 13px;
            color: #aaaaaa;

            width: 90%;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }

        .btn-text{
            position: absolute;
            right: 20px;
            top: 37px;
            bottom: 0px;
            margin: auto;
            font-size: 13px;
            color: #999999;
        }

        .am-tabs-d2 .am-tabs-nav > .am-active:after {
            border-bottom-color: #00C2E5;
        }
        .am-tabs-d2 .am-tabs-nav > .am-active {
            border-bottom: 2px solid #00C2E5;
        }

    </style>
</block>
<block name="content">

    <<!-- div class="am-tabs am-tabs-d2" id="doc-my-tabs" style="background-color:#fff;">
        <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
            <li class="am-active"><a href="" style="border:none;background-color:#fff;color:#555;">我的学习台账</a></li>
            <li><a href="" style="border:none;background-color:#fff;color:#555;">支部学习台账</a></li>
        </ul>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-active" style="padding:0px;">
                <div class="dynamic-list" id="list1">

                </div>
                <div style='text-align:center;margin-bottom:30px;color:#999' id="loading-text"><i id="loading-icon" class="am-icon-spinner am-icon-spin"></i></div>
            </div>

        
            <div class="am-tab-panel" style="padding:0px;">
                <div class="dynamic-list" style="margin-top:0" id="list2">

                </div>
                <div style='text-align:center;margin-bottom:30px;color:#999' id="loading-text-1">
                     <i id="loading-icon-1" class="am-icon-spinner am-icon-spin"></i>
                </div>
            </div>
        </div>
    </div>-->

    <div class="main">
        <div style="height: 10px; background: #f7f8f8; width: 100%; border-bottom: 1px solid #E8E8E8"></div>

        <div style="padding: 5px 0px" id="list">
            <!-- <a href="__ROOT__/Home/Study/standingBookEdit?temp=1">
                <div class="item">
                    <img class="time-zhou" src="__IMG__icon_time_zhou.png"/>
                    <div class="item-sub">
                        <p class="date">2016-12-18</p>
                        <p class="item-content">主题名称</p>
                        <p class="item-intro">主持人： 林嘉焕</p>
                        <a class="btn-text">查看 > </a>
                    </div>
                </div>
            </a>
            <a href="__ROOT__/Home/Study/standingBookEdit?temp=2">
                <div class="item">
                    <img class="time-zhou" src="__IMG__icon_time_zhou.png"/>
                    <div class="item-sub">
                        <p class="date">2016-12-10</p>
                        <p class="item-content">主题名称</p>
                        <p class="item-intro">主持人： 杨国明</p>
                        <a class="btn-text">查看 > </a>
                    </div>
                </div>
            </a>
            <a href="__ROOT__/Home/Study/standingBookEdit?temp=3">
                <div class="item">
                    <img class="time-zhou" src="__IMG__icon_time_zhou.png"/>
                    <div class="item-sub">
                        <p class="date">2016-12-02</p>
                        <p class="item-content">主题名称</p>
                        <p class="item-intro">主持人： 杨志伟</p>
                        <a class="btn-text">查看 > </a>
                    </div>
                </div>
            </a> -->
            <!-- <volist name="list" id="item">
                <a href="{$header_rink}?id={$item.id}">
                    <div class="item">
                        <img class="time-zhou" src="__IMG__icon_time_zhou.png"/>
                        <div class="item-sub">
                            <p class="date">{$item.create_time|date="Y-m-d",###}</p>
                            <p class="item-content">{$item.title}</p>
                            <p class="item-intro">{$item.intro}</p>
                            <a class="btn-text">查看 > </a>
                        </div>
                    </div>
                </a>
            </volist> -->
        </div>

        <div style='text-align:center;margin-bottom:30px;color:#999' id="loading-text"><i id="loading-icon" class="am-icon-spinner am-icon-spin"></i></div>
    </div>

</block>
<block name="scripts">
    
    <script type="text/javascript">
        var organizationId = "{$organizationId}";
        var type = "{$type}";
        var create_time = 0;
        var is_loading = 1;

        $(window).load(function(){
            ajax_loading();
        });

        $(document).ready(function() {
            $(window).scroll(function() {
                if ($(document).scrollTop() >= $(document).height() - $(window).height() && is_loading ==1) {
                    is_loading = 0;
                    $('#loading-icon').show();
                    $("#loading-text").html('');
                    ajax_loading();
                }
            });
        });

        function ajax_loading(){
            $.ajax({
                data: {
                    'organizationId':organizationId,
                    'type':4,
                    'create_time':create_time,
                },
                type: 'POST',
                dataType: 'json',
                url: '__ROOT__/Home/Study/ajaxStandingBookLoading',
                success: function (data) {
                    if (data['status'] == 0) {
                        if (data['data']) {
                            var html_content = '';
                            $.each(data['data'],function(i,vo)
                            {
                                var createTimeString = new Date(vo.create_time*1000).Format("yyyy-MM-dd");
                                var attendTimeString = new Date(vo.attend_time*1000).Format("yyyy-MM-dd");
                                html_content = '';
                                html_content += '<a href="' + __root__ + '/Home/Study/standingBookDetail?id=' + vo.id + '">' +
                                                    '<div class="item">' +
                                                        '<img class="time-zhou" src="__IMG__icon_time_zhou.png"/>' +
                                                        '<div class="item-sub">' +
                                                            '<p class="date">' + createTimeString + '</p>' +
                                                            '<p class="item-content">' + vo.theme + '</p>' +
                                                            '<p class="item-intro">举办日期：' + attendTimeString;
                                if(type == 2){
                                    html_content += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者：' + vo.user_realname;
                                }
                                html_content += '</p>' +
                                                            '<span class="btn-text">查看 > </span>' +
                                                        '</div>' +
                                                    '</div>' +
                                                '</a>';

                                $('#list').append(html_content);
                                create_time = vo.create_time;
                                attend_time = vo.attend_time;
                            });
                            is_loading = 1;
                            $('#loading-icon').hide();
                            if(data['data'].length < 15){
                                $("#loading-text").html('没有更多了');
                            }
                        }else{
                            is_loading = 1;
                            $('#loading-icon').hide();
                            $("#loading-text").html('没有更多了');
                        }
                    } else {
                        alert_modal(data['msg']);
                        is_loading = 1;
                        $('#loading-icon').hide();
                    }
                },
                error: function (data) {
                    alert_modal('网络异常');
                }
            })
        }

        // 对Date的扩展，将 Date 转化为指定格式的String
// 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符， 
// 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字) 
// 例子： 
// (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423 
// (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18 
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}

    </script>

</block>