<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">

    <include file="Common/_top"/>

    <div class="module-title"> 规定项目 </div>

    <div class="modules">
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Article/articles.html?id=15" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_sanhuiyk.png">
                <p>三会一课</p>
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/articles.html?id=16" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_yitizhengj.png">
                <p>党委会</p>
            </a>
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Article/articles.html?id=17" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_shenghuoh.png">
                <p>民主生活会</p>
            </a>
        </div>
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/articles.html?id=18" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_zhongxinz.png">
                <p>中心组学习</p>
            </a>
        </div>
    </div>
    <div class="module-title"> 创新项目 </div>

    <div class="modules">
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Vote/Index/index" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_toupiaohuod.png">
                <p>投票活动</p>
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/articles.html?id=12" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_zhongc.png">
                <p>众创平台</p>
            </a>
            <a class="am-u-sm-4 module" href="__ROOT__/Event/Index/index" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_huodbaom.png">
                <p>活动报名</p>
            </a>
        </div>
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Questionnaire/Index/index" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_wenjuandiaoc.png">
                <p>问卷调查</p>
            </a>
        </div>
    </div>
    <br/><br/>
</block>
<block name="scripts">

</block>
