<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">

    <include file="Common/_top"/>

    <div class="module-title"> 党员发展 </div>

    <div class="modules">
        <div class="am-g am-g-fixed module-row">
            <!-- <a href="__ROOT__/JoinApply/index.html">
            <div class="am-u-sm-4 module">
                <img src="__IMG__icon_rudangshenq.png">
                <p>入党申请</p>
            </div>
            </a> -->
            <a class="am-u-sm-4 module" href="__ROOT__/Home/user/mySpace?entry=work" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
            <!--<div class="am-u-sm-4 module">-->
                <img src="__IMG__icon_rudangshenq.png">
                <p>党员发展</p>
            <!--</div>-->
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/articles.html?id=2" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
            <!--<div class="am-u-sm-4 module module-center">-->
                <img src="__IMG__icon_gongzhi.png">
                <p>党员转正</p>
            <!--</div>-->
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Work/officialCollect.html" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <!--<div class="am-u-sm-4 module module-center">-->
                    <img src="__IMG__icon_gongzhi.png">
                    <p>转正意见征集</p>
                <!--</div>-->
            </a>
        </div>
    </div>
    <div class="module-title"> 组织管理 </div>
    <div class="modules">
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Branch/detail.html" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
            <!--<div class="am-u-sm-4 module">-->
                <img src="__IMG__icon_zhuangzhengyijianzhegnj.png">
                <p>组织管理</p>
            <!--</div>-->
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/qt_articles.html" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
            <!--<div class="am-u-sm-4 module module-center">-->
                <img src="__IMG__icon_shenghuoh.png">
                <p>群团组织</p>
            <!--</div>-->
            </a>
            <div class="am-u-sm-4"></div>
        </div>
    </div>

    <div class="module-title"> 党费管理 </div>
    <div class="modules">
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Cost/lists" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <!--<div class="am-u-sm-4 module">-->
                    <img src="__IMG__icon_jiaonadangfei.png">
                    <p>党费缴纳</p>
                <!--</div>-->
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/articles.html?id=3" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
            <!--<div class="am-u-sm-4 module module-center">-->
                <img src="__IMG__icon_dangfeigongs.png">
                <p>党费公开</p>
            <!--</div>-->
            </a>
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Cost/branchs" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
            <!--<div class="am-u-sm-4 module">-->
                <img src="__IMG__icon_zhuangzhengshenq.png">
                <p>党费统计</p>
            <!--</div>-->
            </a>
            <div class="am-u-sm-4 module">
            </div>
        </div>
    </div>

</block>
<block name="scripts">

</block>
