<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>
	    .container{
	        	background-color: #ffffff;
	        }
    </style>
</block>
<block name="content">
	<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <style>
        .am-list-item-text{
            padding-left: 20px;
        }
    </style>
    <div class="am-list-news-bd">
        <ul class="am-list">
            <li class="am-g am-list-item-desced">
                <div class="am-list-item-text">
                    2016年第四季度党费: 120元
                </div>
            </li>
            <li class="am-g am-list-item-desced">
                <div class="am-list-item-text">
                    2016年第三季度党费: 120元
                </div>
            </li>
            <li class="am-g am-list-item-desced">
                <div class="am-list-item-text">
                    2016年第二季度党费: 120元
                </div>
            </li>
            <li class="am-g am-list-item-desced">
                <div class="am-list-item-text">
                    2016年第一季度党费: 120元
                </div>
            </li>
            <li class="am-g am-list-item-desced">
                <div class="am-list-item-text">
                    2015年第四季度党费: 120元
                </div>
            </li>
            <li class="am-g am-list-item-desced">
                <div class="am-list-item-text">
                    2015年第三季度党费: 120元
                </div>
            </li>
            <li class="am-g am-list-item-desced">
                <div class="am-list-item-text">
                    2015年第二季度党费: 120元
                </div>
            </li>
            <li class="am-g am-list-item-desced">
                <div class="am-list-item-text">
                    2015年第一季度党费: 120元
                </div>
            </li>
        </ul>
    </div>
</div>


</block>
<block name="scripts">

</block>