<li>
    <a href="__ROOT__/Mob/MemberDevelop/zone?id={$item.uid}">
        <div class="left_container">
            <div class="left_img">
                <!-- <div class="bg">
                    <img src="{$item.headimgurl|get_head_url}" alt="">
                </div> -->
            </div>
            <div class="detail">
                <div class="name">
                    {$item.title}
                    <span class="icon"></span>
                  
                </div>
                <p>{$item.branch_name}</p>
            </div>
            <!-- <p class="right">{$item.score}积分</p> -->
        </div>

    </a>
</li>