.page{
    position: absolute;
    width:100%;
    height:100%;
    background-color: #e3e9ef;
}
.banner{
    width:100%;
    /*height:1rem;*/
}
.banner .title{
    width:100%;
    height:1rem;
    line-height: 1rem;
    position: relative;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    color:#ffffff;
    font-size:12px;
    text-align: center;
}
.banner .title>i{
    display: inline-block;
    width:0.5rem;
    height:0.5rem;
    background:url("../../../images/ledger_list/return.png") no-repeat 100%;
    background-size: 100%;
    position: absolute;
    left:0.26rem;
    top:25%;
}
.banner .banner_bg{
    position: relative;
    width:100%;
}
.banner .banner_bg>img{
    width:100%;
    height:100%;
}
.banner .input{
    background-color: rgba(255,255,255,0.84);
    width:80%;
    margin:0 auto;
    position: absolute;
    top:0.8rem;
    left:10%;
    padding:0 0.15rem;
}
.banner .input>.box{
    display:flex;
    display: -webkit-flex;
    height:0.8rem;
    line-height: 0.8rem;
    color:#757575;
    margin-top:0.3rem;
}
.banner .input>.box>.item{
    padding-left:0.06rem;
    flex:1;
    border-bottom: 1px solid #8c9cad;
}
.banner .input>.box>.item>i{
    display: inline-block;
    width:0.4rem;
    height:0.4rem;
    background: url("../../../images/ledger_list/right.png") no-repeat 100%;
    background-size: 100%;
    margin:0.2rem 0.15rem 0 0;
    float: right;
}
.banner .input>label{
    display: inline-block;
    height:0.8rem;
    padding-top: 0.2rem;
    border-bottom: 1px solid #8c9cad;
    width:45%;
    overflow: hidden;
    margin: 0.3rem 0 0;
}
.banner .input>label>i{
    display: inline-block;
    width:0.4rem;
    height:0.4rem;
    background: url("../../../images/ledger_list/right.png") no-repeat 100%;
    background-size: 100%;
}
.banner .input>label>input{
    border:none;
    color:#8c9cad;
    height:0.5rem;
    background-color: transparent;
    width:78%;
    padding:0 0.1rem;
}
.banner .input>i{
    position: relative;
    top:-0.2rem;
    padding:0 1%;
}
.input>.search{
    width:3rem;
    margin:0.3rem auto;
    background-color: #ce3a3d;
    color:#fff;
    height:1rem;
    line-height:1rem;
    text-align: center;
    border-radius: 0.8rem;
}


/*积分列表*/
.content{
    position: relative;
    /*top:4.2rem;*/
    width:95%;
    margin: -57px auto 0;
    /*left:2.5%;*/
    z-index: 2;
}
.content>.title{
    height:1rem;
    line-height: 1rem;
    text-align: center;
    color:#fff;
    background-color: #ce3a3d;
    border-radius: 0.5rem 0.5rem 0 0;
}
.content>.title h1{
    font-size: 0.4rem;
}
.content>.title h1>span{
    font-size:0.6rem;
    padding-left:0.2rem;
}
.content>.time{
    width:100%;
    padding-left:0.26rem;
    height:1rem;
    line-height: 1rem;
    color:#333;
    font-size: 0.35rem;
    background-color: #f6f9fc;
}
.content>.time span.icon{
    display: inline-block;
    width:0.05rem;
    height:0.25rem;
    background-color: #ce3a3d;
    margin-right:0.15rem;
}
.integral_list>li{
    display: flex;
    display: -webkit-flex;
    height:1.3rem;
    line-height:1.3rem;
    color:#333;
    font-size: 0.35rem;
    border-top: 1px solid #e2e2e2;
    background-color: #f6f9fc;
    padding:0 0.3rem;
}
.integral_list>li>div{
    flex:1;
}
.integral_list>li>.num{
    text-align: center;
    color:#ce3a3d;
}


/********************请选择党组遮罩层，请选择标签遮罩层****************/
.blackgroup_box,.blacktag_box,.blackspec_box{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7,17,27,0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.blackgroup_box>.blackgroup_content,.blacktag_box>.blacktag_content,.blackspec_box>.blackspec_content{
    width: 85%;
    margin: 39% auto;
    font-size: 12px;
    color: #333333;
    background-color: #ffffff;
}
h3.group_h3,h3.tag_h3,h3.spec_h3{
    background: #ce3d2a;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.38rem;
}
.group_content,.tag_content,.spec_content{

}
.group_classify,.tag_classify{
    margin: 0.3rem auto 0.5rem;
    width: 90%;
}
.spec_classify{
    margin: 0.5rem auto;
    width: 90%;
}
.group_classify span,.tag_classify span{
    border: 1px solid #ce3d2a;
    border-radius: 36px;
    color: #ce3d2a;
    display: inline-block;
    line-height: 0.6rem;
    padding: 0rem 0.15rem;
    margin-top: 3%;
    margin-left: 0.6%;
}
.spec_classify>p>span{
    display: block;
    border: 1px solid #ce3d2a;
    border-radius: 36px;
    color: #ce3d2a;
    text-align: center;
    line-height: 0.6rem;
    padding: 0rem 0.15rem;
    width: 33%;
    margin: 7% auto 0;
}
.group_classify>p,.tag_classify>p{
    padding-left: 6%;
}
.group_classify span.active,.tag_classify span.active,.spec_classify>p>span.active{
    background-color: #ce3d2a;
    color: #fff;
}
.group_submit,.tag_submit,.spec_submit{
    border-top: 1px solid #e3e9ef;
}
.group_submit>button,.tag_submit>button,.spec_submit>button{
    width: 50%;
    float: left;
    border: 1px solid #e3e9ef;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    line-height: 1.2rem;
    font-size: 0.36rem;
}
.group_submit button:nth-child(1),.tag_submit button:nth-child(1),.spec_submit button:nth-child(1){
    color: #c2c2c2;
}
.group_submit button:nth-child(2),.tag_submit button:nth-child(2),.spec_submit button:nth-child(2){
    border-left: none;
    color: #ce3d3a;
}

