<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>党费缴纳</title>

        <link rel="stylesheet" href="../global.css" />
        <link rel="stylesheet" href="./styles.css" />
    </head>
    <body>
        <div class="g-full-flex">
            <div class="g-nav-bar">
                <div class="back-btn"></div>
                <span class="nav-title">党费缴纳</span>
            </div>

            <div class="g-content-container expenses-pay">
                <div class="top-box">
                    <i class="avatar" style="background-image:url('http://b-ssl.duitang.com/uploads/item/201610/19/20161019130633_LcaxW.thumb.700_0.jpeg')"></i>
                    <div class="info">
                        <p class="text">颜军</p>
                        <p class="text">第三党支部 第一党小组</p>
                        <p class="text">累计缴纳 <b class="light-text">1,235.00</b></p>
                    </div>
                </div>

                <div class="list-container">
                    <div class="tabs">
                        <span class="item active">2019</span>
                        <span class="item">2018</span>
                        <span class="item">2017</span>
                        <span class="item">2016</span>
                        <span class="item">2015</span>
                        <span class="item">2014</span>
                        <span class="item">2018</span>
                        <span class="item">2017</span>
                        <span class="item">2016</span>
                        <span class="item">2015</span>
                        <span class="item">2014</span>
                    </div>

                    <div class="list-title">
                        <span class="month">月份</span>
                        <span class="price">缴纳金额</span>
                    </div>

                    <ul class="list">
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                        <li class="list-item">
                            <span class="month">1月</span>
                            <span class="price">19.00</span>
                        </li>
                    </ul>
                </div>

                <div class="bottom-bar">
                    <i class="price-ico"></i>
                    <span class="total-text">本年累计</span>
                    <span class="total-price">￥ 5,326.00</span>
                </div>
            </div>
        </div>
    </body>
</html>
