<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">待办事项完成情况</strong></div>
        </div>
        <hr>

        <form class="am-g" id="search-form" href="__ROOT__">
            <div class="am-u-sm-12 am-u-md-2 right-align" >
                <!--<button class="am-btn am-btn-sm am-btn-success"style="position: relative;top: 12px;" type="button" id="btn-async">同步通讯录</button>-->

                <!--<button class="am-btn am-btn-sm am-btn-success"style="position: relative;top: 12px;" type="button" id="btn-import">导入通讯录(xls)</button>-->
            </div>


            <div class="am-u-sm-12 am-u-md-10 right-align" style="text-align: right">
                <input type="hidden" name="id" value="{$id}"></empty>
                <select data-am-selected="{btnWidth: '120px', btnSize: 'sm', }" name="todoUserStatus">
                    <option value="-2" <if condition="$search['todoUserStatus'] eq -2">selected</if> >筛选状态</option>
                    <!--<option value="-1" <if condition="$search['todoUserStatus'] eq -1">selected</if> >重做</option>-->
                    <option value="0" <if condition="$search['todoUserStatus'] eq 0">selected</if> >未办</option>
                    <!--<option value="1" <if condition="$search['todoUserStatus'] eq 1">selected</if> >待审核</option>-->
                    <option value="1" <if condition="$search['todoUserStatus'] eq 1">selected</if> >已办</option>
                </select>
                <div style="position: relative;top: 12px;display: inline-block;"><div class="am-input-group am-input-group-sm">
                    <input type="text" class="am-form-field" placeholder="输入姓名关键词" name="keyword" value="{$search.keyword}">
                </div></div>

                <button class="am-btn am-btn-sm am-btn-default" type="submit">检索</button>
            </div>
            <!--<div class="am-u-sm-12 am-u-md-1">-->

            <!--</div>-->
        </form>




        <div class="am-g" style="margin-top: 10px">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>姓名</th>
                            <th>政治面貌</th>
                            <th style="min-width: 100px">用户确认时间</th>
                            <th style="min-width: 100px">审核时间</th>
                            <th>状态</th>
                            <!--<th>操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="page.list" id="item">
                            <tr>
                                <td>{$item.user_uid}</td>
                                <td>{$item.user_realname}</td>
                                <td>{$item.role_name}</td>
                                <td>
                                    <if condition="$item.submit_time gt 0">
                                        {$item.submit_time|date="Y-m-d",###}
                                    <else/>
                                        未提交
                                    </if>
                                </td>
                                <td>
                                    <if condition="$item.check_time gt 0">
                                        {$item.check_time|date="Y-m-d",###}
                                    <else/>
                                        未审核
                                    </if>
                                </td>
                                <td class="am-hide-sm-only">
                                    <!--<if condition="$item.todo_user_status == -1">-->
                                        <!--<span class="am-badge am-badge-danger am-radius">重办</span>-->
                                    <!--<elseif condition="$item.todo_user_status == 0" />-->
                                        <!--<span class="am-badge am-badge-warning am-radius">未办</span>-->
                                    <!--<elseif condition="$item.todo_user_status == 1" />-->
                                        <!--<span class="am-badge am-badge-primary am-radius">待审核</span>-->
                                    <!--<else/>-->
                                        <!--<span class="am-badge am-badge-success am-radius">已办</span>-->
                                    <!--</if>-->
                                    <if condition="$item.todo_user_status == 1">
                                        <span class="am-badge am-badge-success am-radius">已办</span>
                                    <else/>
                                        <span class="am-badge am-badge-warning am-radius">未办</span>
                                    </if>
                                </td>
                                <!--<td>-->
                                    <!--<if condition="$item.todo_user_status == 1">-->
                                        <!--<div class="am-btn-toolbar">-->
                                            <!--<div class="am-btn-group am-btn-group-xs">-->
                                                <!--<button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary " onclick="check({$item.id}, 2);"><span class="am-icon-pencil-square-o"></span> 通过</button>-->
                                                <!--<button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-dec"  onclick="check({$item.id}, -1);"><span class="am-icon-trash-o" ></span> 重做</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</if>-->
                                <!--</td>-->
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="page">
                        {$page.show}
                    </div>
                </form>
            </div>

        </div>

    </div>
</block>
<block name="scripts">

    <script>

        $('.btn-status').click(function(){
            id = $(this).attr('data-id');
            $.ajax({
                url:'__ROOT__/Admin/Todo/ajaxSaveTodoStatus',
                type:'POST', //GET
                data:{id:id},
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success:function(data){
                    if(data.status == 0){
                        window.location.reload();
                    }else{
                        alert_modal(data.msg);
                    }
                },
                error:function(xhr,textStatus){
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        });

        function check(id, status){
//            alert('id = '+id+"status = "+status);
            loading();
            $.ajax({
                url:'__ROOT__/Admin/Todo/ajaxCheck',
                type:'POST', //GET
                data:{
                    id:id,
                    status:status
                },
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success:function(data){
                    close_loading();
                    if(data.status == 0){
                        window.location.reload();
                    }else{
                        alert_modal(data.msg);
                    }
                },
                error:function(xhr,textStatus){
                    close_loading();
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        }

    </script>

</block>
