<form class="am-form">

<input type="hidden" name="mission_id" id="mission_id" value="<?php echo $mission_id;?>">

<div class="am-g am-margin-top">
  <div class="am-u-sm-4 am-u-md-2 am-text-right">开始日期</div>
  <div class="am-u-sm-8 am-u-md-10">

    <button type="button" class="am-btn am-btn-default am-margin-right" id="btn-start-date">开始日期</button>
    <span id="start_time" name="start_time">
      <?php if($mission_info['start_time']){?>
        <?php echo date('Y-m-d',$mission_info['start_time']);?>
      <?php }?>
    </span>
  </div>
</div>

<div class="am-g am-margin-top">
  <div class="am-u-sm-4 am-u-md-2 am-text-right">结束日期</div>
  <div class="am-u-sm-8 am-u-md-10">

    <button type="button" class="am-btn am-btn-default am-margin-right" id="btn-end-date">结束日期</button>
    <span id="end_time" name="end_time">
      <?php if($mission_info['end_time']){?>
        <?php echo date('Y-m-d',$mission_info['end_time']);?>
      <?php }?>
    </span>
  </div>
</div>

</form>
