<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
    <style>
        .sign-sum-title {
            border-left: 5px solid #999999;
            color: #999999;
            font-size: 14px;
            height: 18px;
            line-height: 18px;
            padding-left: 5px;
        }

        .sign-sum {
            color: #5eb95e;
            font-size: 25px;
            font-weight: bold;
        }

        .unit {
            color: #999999;
            font-size: 14px;
            height: 18px;
            line-height: 18px;
        }

        .am-form-field{
            height: 33px !important;
        }

        .am-datepicker-date .am-btn{
            height: 33px;
        }
    </style>
</block>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg"><if condition="$auth == 1">{$branch.name} - </if>学习笔记</strong>
            </div>
        </div>
        <hr>
        <div lass="am-u-sm-12 am-u-md-12 " style="margin-top: 10px; margin-bottom: 10px">
            <section class="am-panel am-panel-success " style="margin: 0 2%;border-radius: 5px">
                <header class="am-panel-hd" style="height: 50px; padding: 8px 0px;">
                    <h3 class="am-panel-title am-u-md-3" style="line-height: 37px">本部学习笔记及学时统计</h3>

                    <form class="am-u-sm-12 am-u-md-9" id="search-form">
                        <input type="hidden" name="branch_id" value="{$search.branch_id}">
                        <div class="am-input-group am-input-group-sm" style="width: 200px; float: right; margin-left: 15px">
                            <input type="text" class="am-form-field" name="keyword" value="{$search.keyword}" placeholder="请输入记录人姓名">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" type="submit">搜索</button>
                        </span>
                        </div>
                        <div style="width: 200px;float: right;" class="am-input-group am-datepicker-date">
                            <input type="text" name="end_date" class="am-form-field" placeholder="结束日期" readonly value="{$search['end_date']}">
					    <span class="am-input-group-btn am-datepicker-add-on">
					        <button class="am-btn am-btn-default" type="button" id="my-end">
                                <span class="am-icon-calendar"></span>
                            </button>
					  	    <button class="am-btn am-btn-default btn-cancel-date" type="button" style="padding: 5px 10px;">
                                <span class="am-icon-remove"></span>
                            </button>
					    </span>
                        </div>

                        <span style="float: right; margin: 0 5px; line-height: 33px;"> 至 </span>

                        <div style="width: 200px;float: right;" class="am-input-group am-datepicker-date">
                            <input readonly type="text" name="start_date" class="am-form-field" placeholder="开始日期" value="{$search['start_date']}">
					    <span class="am-input-group-btn am-datepicker-add-on">
					        <button class="am-btn am-btn-default" type="button" style="padding: 5px 10px;" id="my-start">
                                <span class="am-icon-calendar"></span></button>
					        <button class="am-btn am-btn-default btn-cancel-date" type="button" style="padding: 5px 10px;">
                                <span class="am-icon-remove"></span></button>
					    </span>
                        </div>
                    </form>
                </header>
                <div class="am-panel-bd">
                    <div class="am-g">
                        <div class="am-u-sm-4"><span>笔记总量：{$note_count} 份</span></div>
                        <div class="am-u-sm-4"><span>自学笔记：{$note1_count} 份</span></div>
                        <div class="am-u-sm-4"><span>集中学习笔记：{$note2_count} 份</span></div>
                        <div class="am-u-sm-4"><span>学时总长：{$time_sum} 小时</span></div>
                        <div class="am-u-sm-4"><span>自学学时：{$time1_sum} 小时</span></div>
                        <div class="am-u-sm-4"><span>集中学习学时：{$time2_sum} 小时</span></div>
                    </div>
                </div>
            </section>
        </div>
        <!--<div class="am-g">-->
            <!--<div class="am-u-sm-12 am-u-md-6">-->
                <!--<div class="am-btn-toolbar">-->
                    <!--<div class="am-btn-group am-btn-group-xs">-->
                        <!--&lt;!&ndash;<button  onclick="loading_page('__ROOT__/Admin/Donation/edit');" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>&ndash;&gt;-->
                        <!--&lt;!&ndash; <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>-->
                        <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button> &ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<form class="am-u-sm-12 am-u-md-3" id="search-form">-->
                <!--<div class="am-input-group am-input-group-sm">-->
                    <!--<input type="text" class="am-form-field" name="keyword" value="{$keyword}" placeholder="请输入标题或内容">-->
                        <!--<span class="am-input-group-btn">-->
                            <!--<button class="am-btn am-btn-default" type="submit">搜索</button>-->
                        <!--</span>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <!-- <th class="table-check"><input type="checkbox" /></th> -->
                            <th class="table-title">ID</th>
                            <th class="table-title">笔记标题</th>
                            <th class="table-author am-hide-sm-only">记录人</th>
                            <th class="am-hide-sm-only">笔记类型</th>
                            <th class="am-hide-sm-only">学习时长</th>
                            <th class="table-date am-hide-sm-only">发布日期</th>
                            <th class="am-hide-sm-only">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="page.list" id="vo">
                            <tr>
                                <!-- <td><input type="checkbox" /></td> -->
                                <td>{$vo.id}</td>
                                <td><a href="#">{$vo.title}</a></td>
                                <td>{$vo.user_realname}</td>
                                <if condition="$vo.type eq 0">
                                    <td class="am-hide-sm-only"><span
                                            class="am-badge am-badge-secondary am-radius">自学</span></td>
                                    <else/>
                                    <td class="am-hide-sm-only"><span
                                            class="am-badge am-badge-warning am-radius">集中学习</span></td>
                                </if>
                                <td>{$vo.study_time}</td>
                                <td class="am-hide-sm-only">{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                                    onclick="loading_page('__ROOT__/Admin/Note/detail?id={$vo.id}');"
                                                    type="button"><span class="am-icon-pencil-square-o"></span> 详情
                                            </button>
                                            <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-dec"
                                               type="button" data-id="{$vo.id}"><span class="am-icon-trash-o"></span> 删除</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="page">
                        {$page.show}
                    </div>
                    <!--<hr />-->
                </form>
            </div>

        </div>


    </div>
</block>

<block name="scripts">
    <script>
        $('#my-start').datepicker().
        on('changeDate.datepicker.amui', function(event) {
            $(this).parent().prev().val($('#my-start').data('date'));
            $(this).datepicker('close');
        });
        $('#my-end').datepicker().
        on('changeDate.datepicker.amui', function(event) {
            $(this).parent().prev().val($('#my-end').data('date'));
            $(this).datepicker('close');
        });
        $('.btn-cancel-date').click(function(){
            $(this).parent().prev().val('');

            return false
        })

        $('.btn-dec').click(function () {
            id = $(this).attr('data-id');
            $('#my-confirm').modal({
                relatedTarget: this,
                onConfirm: function (options) {
                    $.ajax({
                        url: '__ROOT__/Admin/Note/ajaxDelete',
                        type: 'POST', //GET
                        data: {id: id},
                        dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        success: function (data) {
                            if (data.status == 0) {
                                window.location.reload();
                            } else {
                                alert_modal(data.msg);
                            }
                        },
                        closeOnConfirm: false,
                        error: function (xhr, textStatus) {
                            alert_modal("服务器暂时无法连接，请稍候再试");
                        }
                    })
                },
                onCancel: function () {

                }
            });
        });


        $('.btn-detail').click(function () {
            id = $(this).attr('data-id');
            loading();
            $.ajax({
                url: '__ROOT__/Admin/WeiXinDe/ajaxDetail',
                type: 'POST', //GET
                data: {id: id},
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                    close_loading();
                    if (data.status == 0) {
//          alert_modal(JSON.stringify(data.data));
                        var detail = data.data;
                        $('#detail-title').html(detail['title']);
                        $('#detail-info1').html(detail.branch_name);
                        $('#detail-info2').html(detail.user_realname);
                        var createTimeString = new Date(detail.create_time * 1000).Format("yyyy-MM-dd");
                        $('#detail-info3').html(createTimeString);

                        var attendTimeString = new Date(detail.attend_time * 1000).Format("yyyy-MM-dd");
                        $('#detail-info4').html(attendTimeString);
                        $('#detail-info5').html(detail.host);
                        $('#detail-info6').html(detail.attendance + "人");
                        $('#detail-info7').html(detail.attendee);

                        $('#detail-content').html(detail.content);

                        $('#my-popup').modal();
                    } else {
                        alert_modal(data.msg);
                    }
                },
                closeOnConfirm: false,
                error: function (xhr, textStatus) {
                    close_loading();
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        });

        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
</block>
