.mail-list {
    background-color: #e0e0e0;
}

.mail-list .item {
    display: flex;
    padding: 10px;
    margin: 10px 0;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 2px solid rgb(250, 172, 172);
    border-radius: 50%;
    background: #ddd center/cover no-repeat;
}

.content-warpper {
    position: relative;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.content-warpper::before {
    position: absolute;
    left: 0;
    top: 20px;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 0 0 0 4px;
    transform: translateX(-50%) rotate(45deg);
}

.name {
    margin-top: 0;
    color: #666;
}

.article {
    margin-top: 0;
    word-break: break-all;
    line-height: 1.5;
}

.date {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    font-size: 14px;
    color: #999;
}
