<extend name="./Application/Admin/View/Common/base.html"/>

<block name="styles">

</block>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <a href="#" onClick="javascript :history.back(1);"><strong
                        class="am-text-primary am-text-lg">问卷管理</strong></a> /
                <small>
                    题目编辑
                </small>
            </div>
        </div>

        <hr>

        <div lass="am-u-sm-12 am-u-md-12 ">
            <section class="am-panel am-panel-primary " style="margin: 0 2%;border-radius: 5px">
                <header class="am-panel-hd">
                    <h3 class="am-panel-title">《{$detail.title}》题目编辑</h3>
                </header>
                <div class="am-panel-bd">
                <iframe style="width: 100%" src="__ROOT__/Admin/Questionnaire/subjectEdit?id={$detail.id}" frameborder="0" scrolling="yes" id="external-frame" onload="setIframeHeight(this)"></iframe>

                </div>
            </section>
        </div>

    </div>


</block>
<block name="scripts">
    <script type="text/javascript">

        function setIframeHeight(iframe) {
            if (iframe) {
                var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                if (iframeWin.document.body) {
                    iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                }
            }
        };

        window.onload = function () {
            setIframeHeight(document.getElementById('external-frame'));
        };



    </script>
</block>
