/**
 * 定义组件样式库:
 * .顶部标题栏
 * .底部导航栏
 */

/***********************************************************************************
 ********************************* 顶部标题栏 开始********************************
 ***********************************************************************************/

.xyt-top-nav{
	line-height: 44px;
	background: #4a69b1;
	color: white;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.xyt-top-nav .icon{
	font-size: 24px;
	color: white;
}

.xyt-top-nav .btn-text{
	font-size: 17px
}

.xyt-top-nav .title-text{
	color: white;
	font-size: 19px
}

/***********************************************************************************
 ********************************* 取消默认样式 结束 ********************************
 ***********************************************************************************/