<div class="hide" id="listItem" style="display: none">
        <a href="__ROOT__/Mob/Taizhang/show?id=##id##&t_id=##template_id##">
        <dl>
            <dt><img src="##cover##" style="overflow: hidden"></dt>
            <dd class="content">
                <div class="tag1">
                    <!--<img src="__IMG__/ledger_list/1.png" style="overflow: hidden" alt="标签1">-->
                </div>
                <h2>##title##</h2>
                <div class="content">##content##</div>
                <div class="overview">
                    ##tags##
                    <i></i>
                </div>
                <div class="foot">
                    <div class="foot_title">
                        <img src="##header##" style="overflow: hidden" alt="">
                        <span class="name">##realname##</span>
                        <span class="position">##post_name##</span>
                        <i class="time">
                            ##time##
                        </i>
                    </div>

                </div>
            </dd>
        </dl>
        </a>
        <div class="footer">
            <div class="collect" data-id="##id##"><i></i>收藏(<span class="count">##sc##</span>)</div>
            <div class="comment"><a href="__ROOT__/Mob/Taizhang/tz_comment?id=##id##"><i></i>评论(<span>##pl##</span>)</a></div>
            <div class="like" data-id="##id##"><i></i>点赞(<span class="count">##dz##</span>)</div>
        </div>
    </div>