<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
</block>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <a href="#" onClick="javascript :history.back(1);"><strong
                        class="am-text-primary am-text-lg"aizhang >《{$detail.name}》管理员</strong></a> /
                <small>新增管理员</small>
            </div>
        </div>

        <hr>

        <div class="am-tabs-bd" style='margin:20px;    border: 1px solid #ddd;'>
            <div class="am-tab-panel am-fade am-in am-active">
                <form class="am-form" id="upload-form">
                    <input type="hidden" name="detail_id" value="{$detail.id}">
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">管理员</div>
                        <div class="am-u-sm-8 am-u-md-10">
                            <button type="button" data-name="" data-id=""
                                    class="am-btn am-btn-xs am-btn-primary btn-post2"
                                    data-am-modal="{target: '#doc-modal-2', closeViaDimmer: 0, width: 500, height: 600}"
                                    style="width: 150px">选择管理员
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="adm_uid" value="">
                </form>


            </div>
        </div>


        <div class="am-margin">
            <button type="button" class="am-btn am-btn-primary am-btn-xs" onClick="submit_info();">提交保存</button>
            <button type="button" class="am-btn am-btn-primary am-btn-xs" id="btn-cancel">放弃保存</button>
        </div>

    </div>
    <include file="PartyBranch/_adm_selecter"/>
</block>
<block name="scripts">
    <script>
        var type = 'normal';
        document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if(e && e.keyCode==13){ // enter 键
                //要做的事情
                getUsers();

            }
        };
        function getUsers() {

            var   keyword = $('#selector-search-input2').val();
                $('#select-content2').html("加载中...");

            $.ajax({
                url: '__ROOT__/Admin/PartyBranch/ajaxGetAdms',
                type: 'POST', //GET
                data: {id:'{$organization_id}',keyword: keyword,uid:'{$detail.uid}'},  //
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                        $('#select-content2').html("");

                    if (data.status == 0) {
                        var html = "";

                        $.each(data.data, function (index, item) {
                            html += item.html;
                        });
                            $('#select-content2').html(html);

                    } else {
                        alert_modal(data.msg);
                    }
                },
                error: function (xhr, textStatus) {
                        $('#select-content2').html("服务器暂时无法连接，请稍候再试");
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        }

        $('#selector-btn-search2').click(function () {
            getUsers()
        })

        $('#doc-modal-2').on('click', '.canselect', function () {
            var uid = $(this).attr('data-id');
            var realname = $(this).attr('data-name');

            $('input[name="adm_uid"]').val(uid);
            $('.btn-post2').text(realname);
            $('#doc-modal-2').modal('close');

        })

    </script>


    <script type="text/javascript">


        function submit_info() {


            var data = $('#upload-form').serialize();
            $.ajax({
                data: data,
                type: 'POST',
                dataType: 'json',
                url: '__ROOT__/Admin/PartyBranch/ajaxSaveAdm',
                beforeSend: function () {
                    loading();
                },
                success: function (data) {
                    if (data['status'] == 0) {
                        self.location=document.referrer;
                    } else {
                        close_loading();
                        alert_modal(data.msg);
                    }
                },
                error: function (data) {
                    close_loading();
                    alert_modal("网络连接有误");
                }
            })
        }
        ;
        $('#btn-cancel').click(function () {
            $('#confirm-text').text('确认取消编辑吗?');
            $('#my-confirm').modal({
                relatedTarget: this,
                onConfirm: function (options) {
                    javascript :history.back(1);
                },
                onCancel: function () {

                }
            });
        });



    </script>
</block>
