<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <a href="#" onClick="javascript :history.back(1);">党组织关系转接<strong
                    class="am-text-primary am-text-lg"></strong></a> /
                <small>调入</small>
            </div>
        </div>

        <hr>

        <div class="am-tabs-bd" style='margin:20px;    border: 1px solid #ddd;'>
            <div class="am-tab-panel am-fade am-in am-active">
                <form class="am-form">

                    <empty name="detail"><else/><input type="hidden" name="uid" value="{$detail.uid}"></empty>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            姓名
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <input type="text" class="am-input-sm" name="realname" value="{$detail.realname}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">启用</div>
                        <div class="am-u-sm-8 am-u-md-10">
                            <div class="am-btn-group" data-am-button>
                                    <label class="am-btn am-btn-default am-btn-xs">
                                        <input type="radio" name="status" value="1" <if condition="$detail.status == 1"> checked="true" </if>> 是
                                    </label>
                                    <label class="am-btn am-btn-default am-btn-xs">
                                        <input type="radio" name="status" value="0" <if condition="$detail.status == 0"> checked="true" </if>> 否
                                    </label>
                            </div>
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">性别</div>
                        <div class="am-u-sm-8 am-u-md-10">
                            <div class="am-btn-group" data-am-button>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="radio" name="gender" value="1" <if condition="$detail.gender == 1"> checked="true" </if>> 男
                                </label>
                                <label class="am-btn am-btn-default am-btn-xs">
                                    <input type="radio" name="gender" value="0" <if condition="$detail.gender == 0"> checked="true" </if>> 女
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            企业账号
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            {$detail.qyuserid}
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            手机
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <input type="text" class="am-input-sm" name="mobile" value="{$detail.mobile}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            微信号
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <input type="text" class="am-input-sm" name="weixinid" value="{$detail.weixinid}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            邮箱
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <input type="text" class="am-input-sm" name="email" value="{$detail.email}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            工作职务
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <input type="text" class="am-input-sm" name="position" value="{$detail.position}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            生日
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <div class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}">
                                <input type="text" class="am-form-field" placeholder="日历组件" readonly name="birthday" value="{$detail.birthday}">
  <span class="am-input-group-btn am-datepicker-add-on">
    <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
  </span>
                            </div>
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            来处
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <input type="text" class="am-input-sm" name="target" value="">
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            原因
                        </div>
                        <div class="am-u-sm-8 am-u-md-6">
                            <textarea type="text" class="am-input-sm" name="reason" rows="3" ></textarea>
                        </div>
                        <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                    </div>
                    <empty name="detail.post_id">
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">所属支部</div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <div class="am-btn-group" data-am-button>
                                    <label class="am-btn am-btn-default am-btn-xs">
                                        <input type="radio" name="branch_id" value="0" <empty name="detail.branch_id">checked="true"</empty> >不设置
                                    </label>
                                    <volist name="branchs" id="item">
                                        <label class="am-btn am-btn-default am-btn-xs">
                                            <input type="radio" name="branch_id" value="{$item.id}"
                                            <if condition="$detail['branch_id'] == $item['id']">checked="true"</if> >{$item.name}
                                        </label>
                                    </volist>

                                </div>
                            </div>
                        </div>
                        <else/>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                所属支部
                            </div>
                            <div class="am-u-sm-8 am-u-md-6">
                                {$detail.branch_name}    职位:{$detail.post_name}
                            </div>
                            <div class="am-hide-sm-only am-u-md-4 am-form-help"></div>
                        </div>

                    </empty>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">用户角色</div>
                        <div class="am-u-sm-8 am-u-md-10">
                            <div class="am-btn-group" data-am-button>
                                <volist name="roles" id="item">
                                    <label class="am-btn am-btn-default am-btn-xs">
                                        <input type="radio" name="role_id" value="{$item.id}"
                                        <if condition="$detail['role_id'] == $item['id']">checked="true"</if> >{$item.name}
                                    </label>
                                </volist>
                            </div>
                        </div>
                    </div>

                    <notempty name="agggaaa">
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">用户操作权限</div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <div class="am-btn-group" data-am-button>
                                    <empty name="detail">
                                        <volist name="groups" id="item">
                                            <label class="am-btn am-btn-default am-btn-xs">
                                                <input type="radio" name="group_id" value="{$item.id}"
                                                <if condition="$i == 1">checked="true"</if>> {$item.title}
                                            </label>
                                        </volist>
                                        <else/>
                                        <volist name="groups" id="item">
                                            <label class="am-btn am-btn-default am-btn-xs">
                                                <input type="radio" name="group_id" value="{$item.id}"
                                                <if condition="$item['id'] == $detail['group_id']">checked="true"</if>> {$item.title}
                                            </label>
                                        </volist>
                                    </empty>
                                </div>
                            </div>
                        </div>
                    </notempty>




                </form>
            </div>
        </div>

        <div class="am-margin">
            <button type="button" class="am-btn am-btn-primary am-btn-xs" id="btn-save" >提交保存</button>
            <button type="button" class="am-btn am-btn-primary am-btn-xs" id="btn-cancel">放弃保存</button>
        </div>
    </div>
</block>
<block name="scripts">
    <script>
        $('#btn-cancel').click(function(){
            $('#confirm-text').text('确认取消编辑吗?');
            $('#my-confirm').modal({
                relatedTarget: this,
                onConfirm: function(options) {
                    javascript :history.back(1);
                },
                onCancel: function() {

                }
            });
        });

        $('#btn-save').click(function(){

            $.ajax({
                url:'__ROOT__/Admin/PartyBranch/ajaxRelationIn',
                type:'POST', //GET
                data:$('.am-form').serialize(),
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success:function(data){
                    if(data.status == 0){
                        loading_page('__ROOT__/Admin/PartyBranch/relations');
                    }else{
                        alert_modal(data.msg);
                    }
                },
                error:function(xhr,textStatus){
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        });
    </script>
</block>
