<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <a href="#" onClick="javascript :history.back(1);">党组织关系转接<strong
                        class="am-text-primary am-text-lg"></strong></a> /
                <small>调入</small>
            </div>
        </div>
        <hr>
        <form id="uploadForm" action="" method="post" enctype="multipart/form-data" >
            <input type="file" name="file" style="display: none" id="file-upload"/>
        </form>
        <form class="am-g" id="search-form" action="__ROOT__/Admin/PartyBranch/relationIn">
            <div class="am-u-sm-12 am-u-md-2 right-align" >
            </div>
            <div class="am-u-sm-12 am-u-md-10 right-align" style="text-align: right">
                <div style="position: relative;top: 12px;display: inline-block;"><div class="am-input-group am-input-group-sm">
                    <input type="text" class="am-form-field" placeholder="输入姓名关键词" name="keyword" value="{$search.keyword}">
                </div></div>

                <button class="am-btn am-btn-sm am-btn-default" type="submit">确认检索</button>
            </div>
            <!--<div class="am-u-sm-12 am-u-md-1">-->

            <!--</div>-->
        </form>

        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-form" action="__ROOT__/Admin/PartyBranch/users">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-title" id="btn-dec">uid</th>
                            <th class="table-type">姓名</th>
                            <th class="table-author am-hide-sm-only">电话</th>
                            <th class="table-author am-hide-sm-only">邮箱</th>
                            <th class="table-author am-hide-sm-only">性别</th>

                            <th class="table-date am-hide-sm-only">角色</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="page.list" id="item">
                            <tr>
                                <td>{$item.uid}</td>
                                <td>{$item.realname}</td>
                                <td class="am-hide-sm-only">{$item.mobile}</td>
                                <td class="am-hide-sm-only">{$item.email}</td>
                                <td class="am-hide-sm-only">
                                    {$item.gender|get_sex}
                                </td>
                                <td class="am-hide-sm-only">{$item.role_name}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                                <button type="button"
                                                        class="am-btn am-btn-default am-btn-xs btn-link "
                                                        onclick="loading_page('__ROOT__/Admin/PartyBranch/relationIn?uid={$item.uid}');">
                                                    <span class="am-icon-mail-forward"></span>调入
                                                </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="page">
                        {$page.show}
                    </div>
                    <hr/>
                    <p>注：.....</p>
                </div>
            </div>

        </div>

    </div>
</block>
<block name="scripts">

    <script>
        var id = 0;
        $('.btn-status').click(function () {
            id = $(this).attr('data-id');
            $.ajax({
                url: '__ROOT__/Admin/PartyBranch/ajaxSaveUserStatus',
                type: 'POST', //GET
                data: {id: id},
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                    if (data.status == 0) {
                        window.location.reload();
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (xhr, textStatus) {
                    alert("服务器暂时无法连接，请稍候再试");
                }
            })
        });
        <eq name="auth" value="1">
        $("#btn-async").click(function(){
            loading();
            $.ajax({
                url: '__ROOT__/Weixin/QY/ajaxAsyncUser',
                timeout : 120000, //超时时间设置，单位毫秒
                type: 'POST', //GET
                data: {id: id},
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                    close_loading();
                    if (data.status == 0) {
                        window.location.reload();
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (xhr, textStatus) {
                    close_loading();
                    alert("服务器暂时无法连接，请稍候再试");
                }
            })

        });
        </eq>

    </script>
    <eq name="auth" value="1">
    <script>

        $('#btn-import').click(function () {
            $('#file-upload').click();
        })

        $("#uploadForm").on('change', '#file-upload', function () {
            var formData = new FormData($("#uploadForm")[0]);
            $.ajax({
                url: '__ROOT__/Admin/PartyBranch/ajaxImportUser',
                type: 'POST',
                data: formData,
                dataType: 'json',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    alert(data.msg);
                    window.location.reload();
                },
                error: function (returndata) {
                    alert("服务暂时无法连接");
                }
            });
        });
    </script>
        </eq>

</block>
