<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>签到</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="flexible" content="initial-dpr=2" />
		<link rel="stylesheet" href="__STATICS__/flexible/flexible.css">
		<script src="__STATICS__/flexible/flexible.js"></script>
		<link rel="stylesheet" href="__CSS__/reset.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/general/general-header.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/lottery/calendar.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/lottery/sign_in.css" />
	</head>

	<body>
		<input type="datetime" id="box"  onfocus="blur()" class="calendars star" placeholder="请选择日期"  min-date="2014-05-10" max-date="2018-06-1" format="yyyy-MM-dd"  readonly="readonly">

		<script src="__STATICS__/zepto/zepto.js"></script>
		<script src="__STATICS__/zepto/event.js"></script>
		<script src="__STATICS__/zepto/touch.js"></script>
		<script src="__JS__/lottery/calendar.js" type="text/javascript" charset="utf-8"></script>
		<script src="__JS__/lottery/sign_in.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>