<div class="subject" id-subject="{$item.id}">
    <div class="pull-left subject-answer">
        <div class="question">
            <div class="form-inline">
                {$item.content}（{$item['score']}分）
            </div>

        </div>
        <div class="answer_input">
            <div>{$item.user_answer.0}</div>

        </div>
        <div class=" alert alert-success" style="margin-right: 30px;text-align: left">
            <div class="pull-left question subject-score" style="display: block">
                <include file="Exam/correct/_public_user_score"/>
            </div>
            <div class="clearfix"></div>

            <h5 style="margin-top: 15px;display: block">解析：</h5>
            <div>{$item.remark}</div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>