<extend name="./Application/Admin/View/Common/base.html"/>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">待办任务</strong></div>
        </div><hr>
        <div class="am-g">
            <div class="am-u-sm-2 am-u-md-1">
              <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                  <button  onclick="loading_page('__ROOT__/Admin/Tasks/showAdd');" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                  <!-- <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
                  <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button> -->
                </div>
              </div>
            </div>

           <form action="__ROOT__/Admin/Tasks/index">
           <div class="am-u-sm-12 am-u-md-2">
            <div class="am-form-group">
              <select name="status" data-am-selected="{btnSize: 'sm'}">
                <option value="all">状态</option>
                <foreach name="status" item="vo" key="k" >
                    <option value="{$k}" <if condition="$k eq $search['status'] && $search['status'] NEQ 'all'">selected = "selected"</if>>{$vo}</option>
                </foreach>
              </select>
            </div>
          </div>

          <div class="am-u-sm-12 am-u-md-2">
           <div class="am-form-group">
             <select name="tasksType" data-am-selected="{btnSize: 'sm'}">
               <option value="all">任务从属</option>
               <foreach name="taskstype" item="vo" key="k" >
                   <option value="{$k}" <if condition="$k eq $search['tasksType'] && $search['tasksType'] NEQ 'all'">selected = "selected"</if>>{$vo}</option>
               </foreach>
             </select>
           </div>
         </div>

         <div class="am-u-sm-12 am-u-md-4">
            <div class="am-input-group am-input-group-sm">
              <input type="text" name="keyword" value="{$search.keyword}" class="am-form-field" placeholder="请输入任务标题">
            <span class="am-input-group-btn">
              <button class="am-btn am-btn-default" type="submit">搜索</button>
            </span>
            </div>
          </div>
        </div>
          </form>
        <div class="am-g">
          <div class="am-u-sm-12">
            <form class="am-form">
              <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                  <th class="table-title am-center">任务标题</th>
                  <th class="table-author am-hide-sm-only">发布者</th>
                  <th class="am-hide-sm-only">任务从属</th>
                  <th class="am-hide-sm-only">开始时间</th>
                  <th class="am-hide-sm-only">结束时间</th>
                  <th class="am-hide-sm-only">状态</th>
                  <th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="page.list" id="vo">
                  <tr>
                    <td class="am-hide-sm-only am-center">{$vo.tasks_title}</td>
                    <td class="am-hide-sm-only am-center">{$vo.sendname}
                    </td>
                    <td class="am-hide-sm-only">{$taskstype[$vo['tasks_type']]}</td>
                    <td class="am-hide-sm-only">{$vo.start_date}</td>
                    <td class="am-hide-sm-only">{$vo.end_date}</td>
                    <td class="am-hide-sm-only">
                        <!-- 进行中 -->
                    <if condition="$vo.status == 3">
                        <span class="am-badge am-badge-success am-radius">{$status[$vo['status']]}</span>
                        <!-- 已结束 -->
                    <elseif condition="$vo.status == 1"/>
                        <span class="am-badge am-badge-default am-radius">{$status[$vo['status']]}</span>
                        <!-- 待开始 -->
                    <elseif condition="$vo.status == 2"/>
                        <span class="am-badge am-badge-warning am-radius">{$status[$vo['status']]}</span>
                        <!-- 已终止 -->
                    <elseif condition="$vo.status == 4"/>
                        <span class="am-badge am-badge-danger am-radius">{$status[$vo['status']]}</span>
                    <else/>
                        <!-- 草稿 -->
                        <span class="am-badge am-badge-secondary am-radius">{$status[$vo['status']]}</span>
                    </if>
                    </td>
                    <td>
                      <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                          <!-- <button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="loading_page('__ROOT__/Admin/Taizhang/edit?id={$vo.id}');" type="button"><span  class="am-icon-pencil-square-o"></span> 编辑</button> -->
                          <!-- 草稿 -->
                          <if condition="$vo.status == 0">
                          <button class="am-btn am-btn-success am-btn-xs am-active btn-action" value="{$vo.id}">启用</button>
                          <button class="am-btn am-btn-danger am-btn-xs am-active btn-dec" value="{$vo.id}">删除</button>
                          </if>
                          <!-- 已经结办 -->
                          <if condition="$vo.status == 1">
                            <button class="am-btn am-btn-danger am-btn-xs am-active btn-dec" value="{$vo.id}">删除</button>
                          </if>
                          <!-- 进行中 -->
                          <if condition="$vo.status == 2">
                            <button class="am-btn am-btn-warning am-btn-xs am-active btn-complete" value="{$vo.id}">结办</button>
                            <button class="am-btn am-btn-default am-btn-xs am-active btn-stop" value="{$vo.id}">终止</button>
                          </if>
                          <!-- 待开始 -->
                          <if condition="$vo.status == 3">
                              <button class="am-btn am-btn-default am-btn-xs am-active btn-stop" value="{$vo.id}">终止</button>
                          </if>
                        </div>
                      </div>
                    </td>
                  </tr>
                </volist>
                <if condition="empty($page['list'])">
                  <tr><td>无数据</td></tr>
                </if>
                </tbody>
              </table>
              <div class="page">
                {$page.show}
              </div>
            </form>
          </div>
        </div>
    </div>
</block>
<block name="scripts">
<script>
  $('.btn-dec').click(function(){
    id = $(this).val();
    $('#my-confirm').modal({
      relatedTarget: this,
      onConfirm: function(options) {
          ajaxStatus(id, -1);
      },
      onCancel: function() {

      }
    });
	return false;
  });

  // 启用
  $('.btn-action').click(function(event) {
      event.preventDefault();
      var $btn = $(this)
      let id = $btn.val();
      $btn.button('loading');
      console.log($btn.val());
      ajaxStatus(id, 2);
  });

  // 终止
  $('.btn-stop').click(function(event) {
      event.preventDefault();
      var $btn = $(this)
      let id = $btn.val();
      $btn.button('loading');
      console.log($btn.val());
      ajaxStatus(id, 0);
  });

  // 结办
  $('.btn-complete').click(function(event) {
      event.preventDefault();
      var $btn = $(this)
      let id = $btn.val();
      $btn.button('loading');
      console.log($btn.val());
      ajaxStatus(id, 1);
  });

  // 更新状态
  function ajaxStatus(id, status){
      $.ajax({
      url:'__ROOT__/Admin/Tasks/ajaxStatus',
      type:'POST', //GET
      data:{id:id, status: status},
      dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
      success:function(data){
          console.log(data);
        if(data.status == 0){
          window.location.reload();
        }else{
          alert_modal(data.msg);
        }
      },
      error:function(xhr,textStatus){
        alert_modal("服务器暂时无法连接，请稍候再试");
      }
      })
  }
</script>
</block>
