<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>
        .item {
            position: relative;
            height: 50px;
            width: 100%;
            line-height: 50px;
            border-bottom: 1px solid #E8E8E8;
            background-color: white;
        }

        .item-left {
            position: absolute;
            left: 10px;
            color: black;
            font-size: 14px;
        }

        .icon-right{
            position: absolute;
            top: 0px;;
            bottom: 0px;
            right: 15px;
            margin: auto;
        }

        .item-right {
            position: absolute;
            left: 80px;
            color: black;
            right: 10px;
            height: 50px;
            font-size: 14px;
        }

        .item-right input {
            width: 100%;
            height: 100%;
            background: none;
            border: 0;
            color: black;
        }

        .item-right .am-btn {
            width: 100% !important;
            height: 100%;
            background: none;
            border: 0 !important;
            padding: 10px 0px;
            font-size: 14px;
            color: black;
        }

        .item-right .am-selected {
            width: 90%;
        }

        .btn-save {
            /*position: absolute;*/
            height: 50px;
            width: 100%;
            /*bottom: 0;*/
            background: #0084c7;
            line-height: 50px;
            color: white;
            text-align: center;
            z-index: 1000;
            font-size: 16px;
        }

        .am-form-field[readonly]{
            background-color: transparent !important;
            height: 100%;
            font-size: 14px;
            padding: 0px;
            border: 0px;
        }
        .am-btn{
            padding: 0px;
        }

        input:not([type=radio]):not([type=checkbox]){
            vertical-align: inherit;
            padding: 0px;
        }

        .am-btn i{
            display: none;
        }

        button, input{
            line-height: inherit;
        }

        .am-selected-btn{
            margin-top: -3px;
        }

        .am-dropdown-flip .am-dropdown-content{
            /*left: -75px;*/
            right: -30px;
            min-width: 310px !important;
            max-height: 460px;
            overflow-y:auto;
        }
        .am-selected-list .am-selected-text{
            margin-right: 0px;
        }

        .am-selected-list li{
            padding-left: 3px;
        }

        .am-selected-list .am-icon-check{
            right:5px
        }
    </style>
</block>
<block name="content">



    <form class="uploadform">
        <input type="hidden" value="{$detail.id}" name="id">

        <!--<a href="__ROOT__/Home/user/selectWorkUnit">-->
            <!--<div class="item">-->
                <!--<span class="item-left">工作单位：</span>-->
                <!--<span class="item-right">哈哈哈{$detail.work_unit_name}</span>-->
                <!--<span class="am-icon-chevron-right icon-right"></span>-->
                <!--<input type="hidden" name="workUnitId" id="workUnitId" value="1{$detail.work_unit_id}">-->
            <!--</div>-->
        <!--</a>-->
        <div class="item">
            <span class="item-left">工作单位</span>
            <span class="item-right">
                <select data-am-selected style="border: none" name="workUnitId">
                    <option value="0">选择工作单位</option>
                    <volist name="list" id="item">
                        <if condition="$detail['work_unit_id'] == $item['id']">
                            <option value="{$item.id}" selected>{$item.name}</option>
                        <else/>
                            <option value="{$item.id}">{$item.name}</option>
                        </if>
                    </volist>
                </select>
            </span>
            <span class="am-icon-chevron-right icon-right"></span>
        </div>
        <div class="item">
            <span class="item-left">担任职务</span>
            <span class="item-right"><input name="position" type="text" placeholder="请填写职务" value="{$detail.position}"></span>
        </div>
        <div class="item">
            <span class="item-left">入职日期</span>
            <span class="item-right">
                <input id="doc-datepicker" name="startDate" <if condition='$detail.start_date gt 0'>value="{$detail.start_date|date='Y-m-d',###}"</if>  type="text" class="am-form-field" placeholder="请选择入职日期"  data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}" data-am-datepicker readonly required />
            </span>
            <span class="am-icon-chevron-right icon-right"></span>
        </div>
        <div class="item">
            <span class="item-left">离职日期</span>
            <span class="item-right">
                <input id="doc-datepicker2" name="endDate"  <if condition='$detail.end_date gt 0'>value="{$detail.end_date|date='Y-m-d',###}"</if>  type="text" class="am-form-field" placeholder="选择离职日期"  data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'months'}" data-am-datepicker readonly required />
            </span>
            <span class="am-icon-chevron-right icon-right"></span>
        </div>

    </form>

    <div style="text-align: center; background: white; width: 100%; position: absolute; bottom: 10px; height: 40px ">
        <button id="btn-submit" style="width: 50%; height: 100%; font-size: 15px" type="button" class="am-btn am-btn-secondary am-btn-default am-radius am-btn-sm">提交保存</button>
    </div>

</block>
<block name="scripts">

    <script>
        var btnSubmitEnable = true;
        $('#btn-submit').click(function () {
            if(btnSubmitEnable){
                btnSubmitEnable = false;
                loading();
                $.ajax({
                    url: '__ROOT__/Home/User/ajaxSaveJobResume',
                    type: 'POST', //GET
                    data: $('.uploadform').serialize(),
                    dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                    success: function (data) {
                        close_loading();
                        if(data['status'] == 0){
                            window.location.href = '__ROOT__/Home/User/jobResume?entry=' + '{$entry}';
//                            history.go(-1);
                        }else{
                            alert_modal(data['msg']);
                            btnSubmitEnable = true;
                        }
                    },
                    error: function (xhr, textStatus) {
                        close_loading();
                        alert("服务器暂时无法连接，请稍候再试");
                    }
                })
            }
//            $('input[name="content"]').val($('#content').getValue());
//            var data = $('.uploadform').serialize();
//            $.ajax({
//                url: '__ROOT__/Home/User/ajaxSaveMySpace',
//                type: 'POST', //GET
//                data: data,
//                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
//                success: function (data) {
//                    if (data.status == 0) {
//                        window.location.href = '__ROOT__/Home/User/mySpace?entry=' + '{$entry}';
//                    } else {
//                        alert(data.msg);
//                    }
//                },
//                error: function (xhr, textStatus) {
//                    alert("服务器暂时无法连接，请稍候再试");
//                }
//            })
        })
    </script>

    <script>

        function save(){
            var jobResume = $('#jobResume').val();
            loading();
            $.ajax({
                url: '__ROOT__/Home/User/ajaxSaveJobResume',
                type: 'POST', //GET
                data: {
                    jobResume:jobResume,
                },
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                    close_loading();
                    alert_modal(data.msg);
                },
                error: function (xhr, textStatus) {
                    close_loading();
                    alert("服务器暂时无法连接，请稍候再试");
                }
            })
        }

    </script>

</block>

