<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>
        body{
            padding-bottom: 0px;
        }
        .uploadform{
            background-color: #f7f8f8;
            /*padding-bottom: 40px;*/
        }

        .item {
            position: relative;
            height: 50px;
            width: 100%;
            line-height: 50px;
            border-bottom: 1px solid #E8E8E8;
            background-color: white;
        }

        .intro {
            position: relative;
            height: 50px;
            width: 100%;
            line-height: 50px;
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
            margin-top: 10px;
            background-color: white;
        }


        .item-left {
            position: absolute;
            left: 10px;
            color: black;
            font-size: 14px;
        }

        .item-right {
            position: absolute;
            left: 80px;
            color: black;
            right: 10px;
            height: 50px;
            font-size: 14px;

        }

        .item-right input {
            width: 100%;
            height: 100%;
            background: none;
            border: 0;
            color: black;
        }

        .item-right .am-btn {
            width: 100% !important;
            height: 100%;
            background: none;
            border: 0 !important;
            padding: 10px 0px;
            font-size: 14px;
            color: black;
        }

        .item-right .am-selected {
            width: 90%;
        }

        .container {
            background: white;
        }

        .btn-save {
            /*position: absolute;*/
            height: 50px;
            width: 100%;
            /*bottom: 0;*/
            background: #0084c7;
            line-height: 50px;
            color: white;
            text-align: center;
            z-index: 1000;
            font-size: 16px;
        }

        input:not([type=radio]):not([type=checkbox]) {
            vertical-align: inherit;
            padding: 0px 5px;
        }

        .am-gallery {
            margin-top: 10px;
            padding: 5px;
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
            background-color: white;
        }

        .file-ul{
            margin-top: 10px;
            margin-bottom: 0px;
            padding-top: 5px;
            padding-bottom: 5px;
            /*padding: 5px;*/
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
            background-color: white;
        }
        .file-li{
            color: #666666;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .file-li a{
            font-size: 1.6rem;
        }

        .am-form-group{
            text-align: center;
            padding-bottom: 40px;
        }

    </style>
    <!--<link rel="stylesheet" href="__STATICS__/artEditor/css/style.css">-->
</block>
<block name="content">

    <form id="file-upload-form"  action="" method="post" enctype="multipart/form-data">
        <input id="fileUploadInput" type="file" name="file"   style="display: none">
    </form>

    <form class="uploadform">
        <input type="hidden" value="${detail.intro}" name="content">
        <div class="item">
            <span class="item-left">标&nbsp;&nbsp;&nbsp;题：</span>
            <span class="item-right">{$detail.title}</span>

        </div>



        <div class="intro" style="border-top: 1px solid #E8E8E8;">
            <span class="item-left">概&nbsp;&nbsp;&nbsp;述 </span>
        </div>
        <!--<textarea name="content" rows="4"-->
                  <!--style="padding: 10px;width: 100%;border: none; border-bottom: 1px solid #E8E8E8;"></textarea>-->

        <!--<input type="hidden" id="target">-->
        <div class="article-content" id="content" style="background: white; padding: 5px 10px;border-bottom: 1px solid #E8E8E8;min-height: 200px">
            {$detail.intro}
        </div>




        <div style="height: 40px; background: white"></div>
    </form>

<if condition="$detail['uid'] == $user['uid']">
    <div style="text-align: center; background: white; width: 100%; position: absolute; bottom: 10px; height: 40px ">
        <a href="__ROOT__/Home/User/editMySpace?id={$detail.id}&entry={$entry}" style="width: 50%; height: 100%; font-size: 15px" type="button" class="am-btn am-btn-secondary am-btn-default am-radius am-btn-sm">编辑</a>
    </div>
</if>
</block>
<block name="scripts">

</block>