<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>
        .container{
            background: white;
        }

        .item {
            position: relative;
            height: 50px;
            width: 100%;
            line-height: 50px;
            border-bottom: 1px solid #E8E8E8;
            background-color: white;
        }

        .item-left {
            position: absolute;
            left: 10px;
            color: black;
            font-size: 14px;
        }

        .icon-right{
            position: absolute;
            top: 0px;;
            bottom: 0px;
            right: 15px;
            margin: auto;
        }

        .item-right {
            position: absolute;
            left: 80px;
            color: black;
            right: 10px;
            height: 50px;
            font-size: 14px;
        }

        .item-right input {
            width: 100%;
            height: 100%;
            background: none;
            border: 0;
            color: black;
        }

        .item-right .am-btn {
            width: 100% !important;
            height: 100%;
            background: none;
            border: 0 !important;
            padding: 10px 0px;
            font-size: 14px;
            color: black;
        }

        .item-right .am-selected {
            width: 90%;
        }

        .btn-save {
            /*position: absolute;*/
            height: 50px;
            width: 100%;
            /*bottom: 0;*/
            background: #0084c7;
            line-height: 50px;
            color: white;
            text-align: center;
            z-index: 1000;
            font-size: 16px;
        }

        .am-form-field[readonly]{
            background-color: transparent !important;
            height: 100%;
            font-size: 14px;
            padding: 0px;
            border: 0px;
        }
        .am-btn{
            padding: 0px;
        }

        input:not([type=radio]):not([type=checkbox]){
            vertical-align: inherit;
            padding: 0px;
        }

        .am-btn i{
            display: none;
        }

        button, input{
            line-height: inherit;
        }

        .am-selected-btn{
            margin-top: -3px;
        }

        .am-dropdown-flip .am-dropdown-content{
            /*left: -75px;*/
            right: -30px;
            min-width: 310px !important;
            max-height: 460px;
            overflow-y:auto;
        }
        .am-selected-list .am-selected-text{
            margin-right: 0px;
        }

        .am-selected-list li{
            padding-left: 3px;
        }

        .am-selected-list .am-icon-check{
            right:5px
        }
    </style>
</block>
<block name="content">



    <form class="uploadform">
        <input type="hidden" value="{$detail.id}" name="id">

        <div class="item">
            <span class="item-left">奖励名称</span>
            <span class="item-right">{$detail.name}</span>
            <!--<span class="am-icon-chevron-right icon-right"></span>-->
        </div>
        <div class="item">
            <span class="item-left">奖励等级</span>
            <span class="item-right">
                <if condition="$detail.level == 0">
                    <span>市级</span>
                    <elseif condition="$detail.level == 1"/>
                    <span>省级</span>
                    <elseif condition="$detail.level == 2"/>
                    <span>国家级</span>
                    <elseif condition="$detail.level == 3"/>
                    <span>区级</span>
                </if>
            </span>
        </div>
        <div class="item">
            <span class="item-left">获奖日期</span>
            <span class="item-right">{$detail.reward_date|date='Y-m-d',###}
                <!--<input id="doc-datepicker" name="startDate" <if condition='$detail.start_date gt 0'>value="{$detail.start_date|date='Y-m-d',###}"</if>  type="text" class="am-form-field" placeholder="请选择入职日期"  data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'years'}" data-am-datepicker readonly required />-->
            </span>
            <!--<span class="am-icon-chevron-right icon-right"></span>-->
        </div>
        <!--<div class="item">-->
            <!--<span class="item-left">离职日期</span>-->
            <!--<span class="item-right">{$detail.end_date|date='Y-m-d',###}-->
                <!--&lt;!&ndash;<input id="doc-datepicker2" name="endDate"  <if condition='$detail.end_date gt 0'>value="{$detail.end_date|date='Y-m-d',###}"</if>  type="text" class="am-form-field" placeholder="选择离职日期"  data-am-datepicker="{format: 'yyyy-mm-dd', viewMode: 'months'}" data-am-datepicker readonly required />&ndash;&gt;-->
            <!--</span>-->
            <!--&lt;!&ndash;<span class="am-icon-chevron-right icon-right"></span>&ndash;&gt;-->
        <!--</div>-->

    </form>

    <if condition="$detail['uid'] == $user['uid']">
        <div style="text-align: center; background: white; width: 100%; position: absolute; bottom: 10px; height: 40px ">
            <button id="btn-delete" data-id="{$detail.id}" style="width: 50%; height: 100%; font-size: 15px" type="button" class="am-btn am-btn-secondary am-btn-default am-radius am-btn-sm">删除</button>
        </div>
    </if>

</block>
<block name="scripts">

    <script>
        var btnSubmitEnable = true;
        $('#btn-delete').click(function () {
            if(btnSubmitEnable){
                btnSubmitEnable = false;
                id = $(this).attr('data-id');
                loading();
                $.ajax({
                    url: '__ROOT__/Home/User/ajaxDeleteRewardSituation',
                    type: 'POST', //GET
                    data: {
                        id:id
                    },
                    dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                    success: function (data) {
                        close_loading();
                        if(data['status'] == 0){
                            history.go(-1);
                        }else{
                            alert_modal(data['msg']);
                            btnSubmitEnable = true;
                        }
                    },
                    error: function (xhr, textStatus) {
                        close_loading();
                        alert("服务器暂时无法连接，请稍候再试");
                    }
                })
            }
        })
    </script>

</block>

