<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>
	    .container{
	        	background-color: #ffffff;
	        }
    </style>
</block>
<block name="content">
	<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <style>
        .am-list-item-text{
            padding-left: 20px;
        }
    </style>
    <div class="am-list-news-bd">
        <ul class="am-list">
            <volist name="page.list" id="item">
                <li class="am-g am-list-item-desced">
                    <div class="am-list-item-text">
                        {$item.content}
                    </div>
                </li>
            </volist>
        </ul>
    </div>
</div>


</block>
<block name="scripts">

</block>