<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="../global.css" />
        <link rel="stylesheet" href="./styles.css" />

        <title>两学一做</title>
    </head>
    <body class="g-full-flex">
        <div class="g-nav-bar">
            <div class="back-btn"></div>
            <span class="nav-title">标题</span>
        </div>

        <div class="g-content-container">
            <header class="header"><span class="categories-title">【学党章党规】</span> <span class="title">党支部组织观看“两学一做”专题教育片</span></header>

            <div class="g-sub-info"><span>发布人：王小春 第一支部</span> <span>开始日期：2018/12/05 21:22</span></div>

            <section class="section-wrapper">
                <p class="section-title">主要措施：</p>
                <div class="section-content">党支部组织观看“两学一做”专题教育片</div>
            </section>

            <div class="g-cutting-line m20"></div>

            <div class="block-title red">出勤人员：1人</div>
            <div class="block-title orange">请假人员：1人</div>
            <div class="block-title grey">缺勤人员：1人</div>

            <div class="avatar-list">
                <div class="item">
                    <i class="img" style="background-image:url('http://b-ssl.duitang.com/uploads/item/201610/19/20161019130633_LcaxW.thumb.700_0.jpeg')"></i>
                    <span class="name">尼古拉斯</span>
                </div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯.安东尼达斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img"></i><span class="name">尼古拉斯</span></div>
            </div>

            <div class="g-cutting-line m10"></div>

            <!-- 附件列表 -->
            <section class="section-wrapper">
                <p class="section-title">相关附件：</p>
            </section>

            <div class="g-attachment-list">
                <div class="item"><i class="img jpg"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img png"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img gif"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img word"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img ppt"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img excel"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img pdf"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img video"></i><span class="name">尼古拉斯</span></div>
                <div class="item"><i class="img audio"></i><span class="name">尼古拉斯</span></div>
            </div>
        </div>
    </body>
</html>
