<extend name="./Application/Home/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">

    <include file="Common/_top"/>

    <div class="module-title"> 党员服务 </div>

    <div class="modules">
        <div class="am-g am-g-fixed module-row">
            <a class="am-u-sm-4 module" href="__ROOT__/Mail/Index/index" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_shujxinx.png">
                <p>我向书记说句话</p>
            </a>
            <a class="am-u-sm-4 module module-center" href="__ROOT__/Home/Article/articles.html?id=5" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_jiuzhu.png">
                <p>困难党员帮扶</p>
            </a>
            <a class="am-u-sm-4 module" href="__ROOT__/Home/Service/donation.html" onmousedown="changeColor(this,1)" onmouseup="changeColor(this,0)">
                <img src="__IMG__icon_fupinjuank.png">
                <p>扶贫捐款</p>
            </a>
        </div>
        <!--<div class="am-g am-g-fixed module-row">-->
            <!--<div class="am-u-sm-4 module">-->
                <!--<img src="__IMG__icon_zhongxinz.png">-->
                <!--<p>中心组学习</p>-->
            <!--</div>-->
            <!--<div class="am-u-sm-4 module module-center">-->
                <!--<img src="__IMG__icon_toupiaohuod.png">-->
                <!--<p>投票活动</p>-->
            <!--</div>-->
            <!--<div class="am-u-sm-4 module">-->
                <!--<img src="__IMG__icon_zhongc.png">-->
                <!--<p>众创平台</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="am-g am-g-fixed module-row">-->
            <!--<div class="am-u-sm-4 module">-->
                <!--<img src="__IMG__icon_huodbaom.png">-->
                <!--<p>活动报名</p>-->
            <!--</div>-->
            <!--<div class="am-u-sm-4 module module-center">-->
                <!--<img src="__IMG__icon_wenjuandiaoc.png">-->
                <!--<p>问卷调查</p>-->
            <!--</div>-->
            <!--<div class="am-u-sm-4 module">-->
            <!--</div>-->
        <!--</div>-->
    </div>

</block>
<block name="scripts">

</block>
