<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link rel="stylesheet" href="../global.css" />
        <link rel="stylesheet" href="./styles.css" />

        <title>两学一做-列表页面</title>
    </head>
    <body class="g-full-flex">
        <div class="g-nav-bar">
            <div class="back-btn"></div>
            <span class="nav-title">两学一做</span>
        </div>

        <div class="g-content-container learn-and-do-list">
            <img src="../images/learn-and-do-top-banner.png" alt="" class="banner" />

            <div class="categories">
                <div class="item"><i class="ico" style="background-image:url('../images/learn-1.png')"></i><span class="title">学党章党规</span></div>
                <div class="item"><i class="ico" style="background-image:url('../images/learn-2.png')"></i><span class="title">学系列讲话 </span></div>
            </div>

            <div class="g-horizontal-scroll-list">
                <div class="item"><i class="img"></i><span class="name active">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
                <div class="item"><i class="img"></i><span class="name">第一党支部</span></div>
            </div>

            <div class="learn-and-do-data-list">
                <div class="learn-and-do-data-item">
                    <div class="top"><span class="date">2019-01-05</span><span class="type one">学党章党规</span></div>
                    <div class="middle-content">
                        <i class="img"></i>
                        <div class="info">
                            <p class="title">党支部学习十九大精神专题党课于7月 31日胜利召开</p>
                            <p class="bottom-text">
                                <i class="avatar" style="background-image:url('../icons/avatar-male.png')"></i><span class="author">梁小军 第一党支部</span
                                ><i class="ico-read"></i><span class="read">阅读</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="learn-and-do-data-item">
                    <div class="top"><span class="date">2019-01-05</span><span class="type two">学系列讲话</span></div>
                    <div class="middle-content">
                        <i class="img"></i>
                        <div class="info">
                            <p class="title">党支部学习十九大精神专题党课于7月 31日胜利召开</p>
                            <p class="bottom-text">
                                <i class="avatar" style="background-image:url('../icons/avatar-male.png')"></i><span class="author">梁小军 第一党支部</span
                                ><i class="ico-read"></i><span class="read">阅读</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="learn-and-do-data-item">
                    <div class="top"><span class="date">2019-01-05</span><span class="type three">做合格党员</span></div>
                    <div class="middle-content">
                        <i class="img"></i>
                        <div class="info">
                            <p class="title">党支部学习十九大精神专题党课于7月 31日胜利召开</p>
                            <p class="bottom-text">
                                <i class="avatar" style="background-image:url('../icons/avatar-male.png')"></i><span class="author">梁小军 第一党支部</span
                                ><i class="ico-read"></i><span class="read">阅读</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
