<extend name="./Application/Admin/View/Common/base.html" />
<block name="styles">
	<style>
		#detail-pop {
			/*margin-top: 20px;*/
			background: #e8e8e8;
			/*position: absolute;*/
			/*top: 0px;*/
			/*bottom: 0px;*/
		}
		
		.info-block {
			width: 100%;
			background: white;
			border-top: 1px solid #e8e8e8;
			border-bottom: 1px solid #e8e8e8;
			padding: 0px 40px;
		}
		
		.title {
			width: 100%;
			border-bottom: 1px solid #e8e8e8;
			height: 50px;
			line-height: 50px;
			font-size: 16px;
			color: #1a1a1a;
			/*padding-left: 20px;*/
		}
		
		.title span {
			border-left: 5px solid #0e90d2;
			padding-left: 5px;
		}
		
		.info-item {
			height: 45px;
			line-height: 45px;
			border-bottom: 1px solid #e8e8e8;
			/*padding-left: 20px;*/
		}
		
		.text {
			word-wrap: break-word;
			word-break: break-all;
			padding: 10px 0px;
			min-height: 100px;
			/*border-bottom: 1px solid #e8e8e8;*/
		}
		
		.item-title {
			width: 90px;
		}
		
		.btn-detail1 {
			width: 150px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			font-size: 16px;
			color: white;
			float: left;
			margin: 20px 5px 20px 5px;
		}
	</style>
</block>
<block name="content">
	<div class="admin-content-body">
		<div class="am-cf am-padding am-padding-bottom-0">
			<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">支部和党委意见</strong></div>
		</div>
		<hr>
		<div class="am-g">
			<div class="am-u-sm-12 am-u-md-6">
				<div class="am-btn-toolbar">
					<div class="am-btn-group am-btn-group-xs">
						<!--<button  onclick="loading_page('__ROOT__/Admin/Donation/edit');" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>-->
						<!-- <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
                        <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button> -->
					</div>
				</div>
			</div>
			<form class="am-u-sm-12 am-u-md-3" id="search-form">
				<div class="am-input-group am-input-group-sm">
					<input type="text" class="am-form-field" name="keyword" value="{$keyword}" placeholder="请输入党员姓名">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" type="submit">搜索</button>
                        </span>
				</div>
			</form>
		</div>
		<div class="am-g">
			<div class="am-u-sm-12">
				<form class="am-form">
					<table class="am-table am-table-striped am-table-hover table-main">
						<thead>
							<tr>
								<th>id</th>
								<th>标题</th>
								<th>党员姓名</th>
								<th>支部</th>
								<th>发布日期</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<script>
								var map = {};
							</script>
							<volist name="page.list" id="item">
								<tr>
									<td>{$item.id}</td>
									<td>{$item.title}</td>
									<td>{$item.user_realname}</td>
									<td>{$item.name}</td>
									<td>{$item.create_time|date="Y-m-d",###}/{$item.role_name}</td>
									<td>
										<div class="am-btn-toolbar">
											<div class="am-btn-group am-btn-group-xs">
												<button type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only btn-detail" data-id="{$item.id}"><span class="am-icon-archive"></span>详情</button>
												<button type="button" class="am-btn am-btn-default am-btn-xs am-hide-sm-only btn-dec" data-id="{$item.id}" data-branchid="{$item.user_branch_id}" data-uid="{$item.uid}"><span class="am-icon-remove"></span>删除</button>
											</div>
										</div>
									</td>
								</tr>
								<script>
									map['id-' + '{$item.id}'] = {$item | to_json_string};
								</script>
							</volist>
						</tbody>
					</table>
					<div class="page">
						{$page.show}
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="am-popup" id="detail-pop" style="margin-top: -300px;background: white;">
		<div class="am-popup-inner">
			<div class="am-popup-hd" style="margin: 0px">
				<h4 class="am-popup-title">意见详情</h4>
				<span data-am-modal-close class="am-close">&times;</span>
			</div>
			<div class="am-popup-bd" style="padding: 0px; margin: 0px;">
				<div class="info-block" style="border-top: 0px;">
					<div class="title">
						<span>基本信息</span>
					</div>
					<div class="info-item">
						<label class="item-title">标题</label>
						<span id="title"></span>
					</div>
					<div class="info-item">
						<label class="item-title">姓名</label>
						<span id="userName"></span>
					</div>
					<div class="info-item">
						<label class="item-title">角色</label>
						<span id="roleName"></span>
					</div>
				</div>

				<div class="info-block" style="margin-top: 20px">
					<div class="title">
						<span>内容</span>
					</div>
					<style>
						#content {
							max-height: 200px;
							overflow: auto;
						}
						#content img{
							max-width: 100%;	
						}
					</style>
					<div class="text" id="content">
					</div>
				</div>

				<div style="width: 320px; margin: auto" id="btn-div">
					<div class="btn-detail1" data-am-modal-close>关闭</div>
				</div>
			</div>
		</div>
	</div>

</block>
<block name="scripts">

	<script>
		var applyId = 0;

		$('.btn-dec').click(function() {
			var id = $(this).attr('data-id');
            var branch_id = $(this).attr('data-branchid');
            var uid = $(this).attr('data-uid');
			$('#my-confirm').modal({
				relatedTarget: this,
				onConfirm: function(options) {
					$.ajax({
						url: '__ROOT__/Admin/MemberDevelopment/ajaxDecAdvice',
						type: 'POST', //GET
						data: {
							id: id,
                            branch_id:branch_id,
                            uid:uid
						},
						dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
						success: function(data) {
							if(data.status == 0) {
								window.location.reload();
							} else {
								alert_modal(data.msg);
							}
						},
						closeOnConfirm: false,
						error: function(xhr, textStatus) {
							alert_modal("服务器暂时无法连接，请稍候再试");
						}
					})
				},
				onCancel: function() {

				}
			});
		});

		$('.btn-detail').click(function() {
			var id = $(this).attr('data-id');
			var item = map['id-' + id];
			$('#roleName').html(item.role_name);
			$('#userName').html(item.user_realname);
			$('#content').html(item.content);
			$('#title').html(item.title);

			$('#detail-pop').modal();
		});
	</script>

</block>