<style type="text/css">
    /* 顶部导航 */
    .g-nav-bar {
        position: relative;
        display: flex;
        height: 42px;
        background-color: #ce3d37;
    }

    .g-nav-bar .back-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 42px;
    }

    .g-nav-bar .back-btn::before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 16px;
        width: 12px;
        height: 12px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: translateY(-50%) rotate(-45deg);
    }

    .g-nav-bar .nav-title {
        display: block;
        width: 60%;
        height: 42px;
        line-height: 42px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-size: 18px;
    }

    .g-nav-bar .right {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 42px;
    }
</style>
<div class="g-nav-bar">
    <div class="back-btn" onclick="history.go(-1);"></div>
    <span class="nav-title">{$head_title}</span>
</div>
