<nav class="nav">
    <a href="__ROOT__/Mob/PartyGroup/index" class="item">
        <if condition="$active == 1">
        <img src="__IMG__/party_group/party2.png" alt="">
        <else />
        <img src="__IMG__/party_group/party.png" alt="">
        </if>
        <p>党委领导</p>
    </a>
   
    <a href="__ROOT__/Mob/Branch/index" class="item">
        <if condition="$active == 2">
        <img src="__IMG__/party_group/branch2.png" alt="">
        <else />
        <img src="__IMG__/party_group/branch.png" alt="">
        </if>
        <p>支部堡垒</p></a>
    <a href="__ROOT__/Mob/SmallGroup/index?pg_id=1" class="item">
        <if condition="$active == 3"> 
        <img src="__IMG__/party_group/example2.png" alt="">
        <else />
        <img src="__IMG__/party_group/example.png" alt="">
        </if>
            <p>小组风采</p></a>
    <a href="__ROOT__/Mob/PartyMember/index" class="item">
        <if condition="$active == 4"> 
        <img src="__IMG__/party_group/pioneer2.png" alt="">
        <else />
        <img src="__IMG__/party_group/pioneer.png" alt="">
        </if> 
        <p>党员先锋</p></a>
</nav>