<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>党员服务</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="flexible" content="initial-dpr=2" />
    <link rel="stylesheet" href="__STATICS__/flexible/flexible.css">
    <script src="__STATICS__/flexible/flexible.js"></script>
    <link rel="stylesheet" href="__CSS__/reset.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/party_serve/nav.css" />
</head>

<body>
    <script type="text/javascript">
    // window.onload = function(){
    //     window.location.href =' {$url} ' ;
    // }
    </script>
</body>
</html>