<form action="" method="post" class="exam_inner">
    <style>
        .card-footer{
            position: relative;
            height: 60px;
        }
        .answer-item-content{
            position: absolute;
            right: 10px;
            bottom: 5px;
            left: 47px;
            line-height: 25px;
        }
        .answer-item-content .a{
            width:100%;
            height: 25px;
            padding: 2px 10px;
            line-height: 25px;
            position: relative;
        }
        .answer-item-content .per{
            position: absolute;
            left: 0px;top: 15px;
            width: 90%;
            height: 10px;
            display: inline-block
        }
        .answer-item-content .per .value{
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 7.5px;
            height: 100%;
            display: inline-block;
        }
        .answer-item-content span{
            position: absolute;
            right: 0;top: 7px;
            height: 25px;display: inline-block;line-height: 25px;
        }

    </style>
    <input type="hidden" name="id" value="{$detail.id}">
    <volist name="subjects" id="item">
        <php>
            $answer_total = $item['answer1_count'] + $item['answer2_count'] + $item['answer3_count'] + $item['answer4_count'];
        </php>
        <if condition="$item['type_id'] == 1">
            <div class="content-block-title header-I">
                <h4>{$item['title']}</h4>
            </div>
            <elseif condition="$item['type_id'] == 2" dis="多选"/>
            <div>
                <div class="content-block-title header-II">
                    {$item['title']}　
                </div>
                <div class="card">

                    <label class="card-footer">
                        <span><input type="checkbox"  disabled <if condition="$item['user_answer']['0'] == 1">checked</if> value="0"> A {$item['answer'][0]}</span>

                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: deepskyblue;width: {$item['answer1_count']|template_percent=$answer_total}"></div></div><span>{$item['answer1_count']|template_percent=$answer_total}</span></div>
                        </div>
                    </label>
                    <label class="card-footer">
                        <span><input type="checkbox"  disabled <if condition="$item['user_answer']['1'] == 1">checked</if> value="1"> B {$item['answer'][1]}</span>
                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: orange;width: {$item['answer2_count']|template_percent=$answer_total}"></div></div><span>{$item['answer2_count']|template_percent=$answer_total}</span></div>
                        </div>
                    </label>

                    <label class="card-footer">
                        <span><input type="checkbox" disabled <if condition="$item['user_answer']['2'] == 1">checked</if>> C {$item['answer'][2]}</span>
                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: blueviolet;width: {$item['answer3_count']|template_percent=$answer_total}"></div></div><span>{$item['answer3_count']|template_percent=$answer_total}</span></div>
                        </div>
                    </label>
                    <label class="card-footer">
                        <span><input type="checkbox" disabled <if condition="$item['user_answer']['3'] == 1">checked</if>> D {$item['answer'][3]}</span>
                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: lime;width: {$item['answer4_count']|template_percent=$answer_total}"></div></div><span>{$item['answer4_count']|template_percent=$answer_total}</span></div>
                        </div>
                    </label>
                </div>
            </div>
            <br/>
            <elseif condition="$item['type_id'] == 3" dis="单选"/>
            <div>
                <div class="content-block-title header-II">
                    {$item['title']}　
                </div>
                <div class="card">
                    <label class="card-footer">
                        <span><input type="radio" disabled <if condition="$item['user_answer']['0'] == 0">checked</if>> A {$item['answer'][0]}</span>
                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: deepskyblue;width: {$item['answer1_count']|template_percent=$answer_total}"></div></div><span>{$item['answer1_count']|template_percent=$answer_total}</span></div>
                        </div>
                    </label>
                    <label class="card-footer">
                        <span><input type="radio" disabled <if condition="$item['user_answer']['0'] == 1">checked</if>> B {$item['answer'][1]}</span>
                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: orange;width: {$item['answer2_count']|template_percent=$answer_total}"></div></div><span>{$item['answer2_count']|template_percent=$answer_total}</span></div>
                        </div>
                    </label>
                    <label class="card-footer">
                        <span><input type="radio" disabled <if condition="$item['user_answer']['0'] == 2">checked</if>> C {$item['answer'][2]}</span>
                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: blueviolet;width: {$item['answer3_count']|template_percent=$answer_total}"></div></div><span>{$item['answer3_count']|template_percent=$answer_total}</span></div>
                        </div>
                    </label>
                    <label class="card-footer">
                        <span><input type="radio" disabled <if condition="$item['user_answer']['0'] == 3">checked</if>> D {$item['answer'][3]}</span>
                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: lime;width: {$item['answer4_count']|template_percent=$answer_total}"></div></div><span>{$item['answer4_count']|template_percent=$answer_total}</span></div>
                        </div>
                    </label>

                </div>
            </div>
            <br/>
            <elseif condition="$item['type_id'] == 4" dis="判断"/>
            <div>
                <div class="content-block-title header-II">
                    {$item['title']}　
                </div>
                <div class="card">
                    <label class="card-footer">
                        <span><input type="radio" disabled <if condition="$item['user_answer']['0'] == 0">checked</if>> 正确</span>
                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: deepskyblue;width: {$item['answer1_count']|template_percent=$answer_total}"></div></div><span>{$item.answer1_count}</span></div>
                        </div>
                    </label>
                    <label class="card-footer">
                        <span><input type="radio" disabled <if condition="$item['user_answer']['0'] == 1">checked</if>> 错误</span>
                        <div  class="answer-item-content">
                            <div class="a"><div class="per"><div class="value" style="background: orange;width: {$item['answer2_count']|template_percent=$answer_total}"></div></div><span>{$item.answer2_count}</span></div>
                        </div>
                    </label>

                </div>
            </div>
            <br/>
        </if>
    </volist>
</form>