<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">通知管理</strong></div>
      </div>
      <hr>
      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button  onclick="loading_page('__ROOT__/Admin/Notice/add');" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
              <!-- <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button> -->
            </div>
          </div>
        </div>        
       </div>
        <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table  am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-title" style="max-width:350px;">内容</th>
                <th class="table-type" style="mix-width:80px;">类别</th>
                <th class="table-date am-hide-sm-only">发布日期</th>
                <th class="table-date am-hide-sm-only" >有效日期</th>
                <th class="table-set" style="width:210px;">操作</th>
              </tr>
              </thead>
              <tbody>
              <include file="_notice_list"/>              
              </tbody>
            </table>
            <div class="page">
              {$notices.show}
            </div>
            <hr />
            <p>注：通知发布后不能修改，请仔细检查</p>
          </form>
        </div>

      </div>




    </div>


</block>
<block name="scripts">
    <script type="text/javascript">
    var id = 0;
    $('.btn-dec').click(function(){
       id = $(this).attr('data-id');
       $('#confirm-text').text('你确定要删除这条记录吗？')
      $('#my-confirm').modal({
        relatedTarget: this,
        onConfirm: function(options) {
          $.ajax({
            url:'__ROOT__/Admin/Notice/ajaxDec',
            type:'POST', //GET
            data:{id:id},
            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            beforeSend: function () {
                  loading();
                },
            success:function(data){
              if(data.status == 0){
                window.location.reload();
              }else{
                close_loading();
                alert_modal(data.msg);
              }
            },
            closeOnConfirm: false,
            error:function(xhr,textStatus){
              close_loading();
              alert_modal("服务器暂时无法连接，请稍候再试");
            }
          })
        },
        onCancel: function() {

        }
      });
    });

    </script>

</block>
