<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
    <style>

    </style>
</block>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">积分管理</strong></div>
        </div>
        <hr>
        <form class="am-g" action="__ROOT__/Admin/IntegralManagement/index">
            <div class="am-u-sm-12 am-u-md-12" style="margin-bottom: 20px;">
            	<input type="hidden" name="tab" value="{$tab}" />
            	<volist name='types' id='item'>
            		<label class="am-checkbox" style="display: inline-block;margin-right: 10px;margin-top: 0;">
                    	<input type="checkbox" name="type[]" value="{$item.id}" data-am-ucheck <php>if(strpos( $search['type'], ''.$item['id'])>-1){echo "checked";}</php>> {$item.name}
                	</label>
            	</volist>
            	<div style="width: 800px;margin-top: 10px;clear: both;line-height: 25px;">
            		<div style="width: 220px;float: left;" class="am-input-group am-datepicker-date" >
					  <input type="text" name="start_date" class="am-form-field" placeholder="开始日期" readonly value="{$search['start_date']}">
					  <span class="am-input-group-btn am-datepicker-add-on">
					    <button class="am-btn am-btn-default" type="button" style="padding: 5px 10px;" id="my-start"><span class="am-icon-calendar"></span> </button>
					    <button class="am-btn am-btn-default btn-cancel-date" type="button" style="padding: 5px 10px;"><span class="am-icon-remove"></span> </button>
					  </span>
					  
					</div>
					<span style="float: left;margin: 0 5px;"> —— </span>
					<div style="width: 220px;float: left;" class="am-input-group am-datepicker-date" >
					  <input type="text" name="end_date" class="am-form-field" placeholder="结束日期" readonly value="{$search['end_date']}">
					  <span class="am-input-group-btn am-datepicker-add-on">
					    <button class="am-btn am-btn-default" type="button" id="my-end"><span class="am-icon-calendar"></span> </button>
					  	<button class="am-btn am-btn-default btn-cancel-date" type="button" style="padding: 5px 10px;"><span class="am-icon-remove"></span></button>
					  </span>
					</div>
					<span class="am-input-group-btn" style="float: left;margin-left: 15px">
                            <button class="am-btn am-btn-default" type="submit" id="btn-saixuan" style="padding: 5px 20px;">统计</button>
                  </span>
            	</div>
            	


                 
            </div>
        </form>

        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-tabs">
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li
                        <if condition="$tab == 1"> class="am-active"</if>
                        ><a href="__ROOT__/Admin/IntegralManagement/index?tab=1&type={$search.type}&start_date={$search.start_date}&end_date={$search.end_date}">个人</a></li>
                        <li
                        <if condition="$tab == 2"> class="am-active"</if>
                        ><a href="__ROOT__/Admin/IntegralManagement/index?tab=2&type={$search.type}&start_date={$search.start_date}&end_date={$search.end_date}">支部</a></li>
                        <li
                        <if condition="$tab == 3"> class="am-active"</if>
                        ><a href="__ROOT__/Admin/IntegralManagement/index?tab=3&type={$search.type}&start_date={$search.start_date}&end_date={$search.end_date}">党组</a></li>
                    </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-fade am-in am-active">
                            <div class="am-form">
                                <if condition="$tab == 1">
                                    <table class="am-table am-table-striped am-table-hover table-main">
                                        <thead>
                                        <tr>
                                            <th class="table-title">uid</th>
                                            <th class="table-author">姓名</th>
                                            <th class="am-hide-sm-only">电话</th>
                                            <th class="am-hide-sm-only">总积分</th>
                                            <if condition="$hasCount == 1">
                                                <th class="">统计积分</th>
                                            </if>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <volist name="page.list" id="vo">
                                            <tr>
                                                <!-- <td><input type="checkbox" /></td> -->
                                                <td>{$vo.uid}</td>
                                                <td>{$vo.realname}</td>
                                                <td class="am-hide-sm-only">{$vo.mobile}</td>
                                                <td class="am-hide-sm-only">{$vo.score}</td>
                                                <if condition="$hasCount == 1">
                                                    <td class=""><empty name="vo.count_score">0<else/>{$vo.count_score}</empty></td>
                                                </if>
                                            </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                </if>
                                <if condition="$tab == 2">
                                    <table class="am-table am-table-striped am-table-hover table-main">
                                        <thead>
                                        <tr>
                                            <th class="table-title">支部</th>
                                            <th class="table-author">人员数量</th>
                                            <th class="am-hide-sm-only">书记</th>
                                            <th class="am-hide-sm-only">总积分</th>
                                            <th class="am-hide-sm-only">平均分</th>
                                            <if condition="$hasCount == 1">
                                                <th class="">统计积分</th>
                                            </if>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <volist name="list" id="vo">
                                            <tr>
                                                <!-- <td><input type="checkbox" /></td> -->
                                                <td>{$vo.name}</td>
                                                <td>{$vo.people_count}</td>
                                                <td class="am-hide-sm-only">{$vo.shuji_realname}</td>
                                                <td class="am-hide-sm-only"><empty name="vo.score">0<else/>{$vo.score}</empty></td>
                                                <td class="am-hide-sm-only"><empty name="vo.score">0<else/><php>echo sprintf( "%.2f ",$vo['score']/$vo['people_count']);</php></empty></td>
                                                <if condition="$hasCount == 1">
                                                    <td class=""><empty name="vo.count_score">0<else/>{$vo.count_score}</empty></td>
                                                </if>
                                            </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                </if>
                                <if condition="$tab == 3">
                                    <table class="am-table am-table-striped am-table-hover table-main">
                                        <thead>
                                        <tr>
                                            <th class="table-title">党组织</th>
                                            <th class="table-author">人员数量</th>
                                            <th class="am-hide-sm-only">总积分</th>
                                            <th class="am-hide-sm-only">平均分</th>
                                            <if condition="$hasCount == 1">
                                                <th class="">统计积分</th>
                                            </if>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <volist name="list" id="vo">
                                            <tr>
                                                <!-- <td><input type="checkbox" /></td> -->
                                                <td>{$vo.name}</td>
                                                <td>{$vo.people_count}</td>
                                                <td class="am-hide-sm-only"><empty name="vo.score">0<else/>{$vo.score}</empty></td>
                                                <td class="am-hide-sm-only"><empty name="vo.score">0<else/><php>echo sprintf( "%.2f ",$vo['score']/$vo['people_count']);</php></empty></td>
                                               <if condition="$hasCount == 1">
                                                    <td class=""><empty name="vo.count_score">0<else/>{$vo.count_score}</empty></td>
                                                </if>
                                            </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                </if>
                                <div class="page">
                                    {$page.show}
                                </div>
                                <!--<hr />-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="am-popup" id="my-popup">
            <div class="am-popup-inner">
                <div class="am-popup-hd">
                    <h4 class="am-popup-title" id="detail-title">心得详情</h4>
                    <span data-am-modal-close class="am-close">&times;</span>
                </div>
                <div class="am-popup-bd">
                    <div style="width: 100%; text-align: center; font-size: 14px; color: #00a0e9">
                        <span id="detail-info1">吉大支部</span>
                        <span> - </span>
                        <span id="detail-info2">林嘉焕</span>
                        <span style="margin-left: 15px">发布于：</span>
                        <span id="detail-info3">2016-01-05</span>
                    </div>

                    <div><span class="am-badge am-badge-success">活动举办日期</span></div>
                    <p style="font-size: 18px;margin: 5px 0px 10px 5px" id="detail-info4">2016-01-01</p>

                    <div><span class="am-badge am-badge-success">主 持 人</span></div>
                    <p style="font-size: 16px;margin: 5px 0px 10px 5px" id="detail-info5">某某某</p>

                    <div><span class="am-badge am-badge-success">出席人数</span></div>
                    <p style="font-size: 18px;margin: 5px 0px 10px 5px" id="detail-info6">3人</p>

                    <div><span class="am-badge am-badge-success">出席名单</span></div>
                    <p style="font-size: 16px;margin: 5px 0px 10px 5px" id="detail-info7">某某某、某某某、某某某</p>

                    <div><span class="am-badge am-badge-success">心得内容</span></div>
                    <div id="detail-content" style="font-size: 16px"></div>

                </div>
            </div>
        </div>

    </div>
</block>

<block name="scripts">
    <script>
    	$('#my-start').datepicker().
	      on('changeDate.datepicker.amui', function(event) {
	        $(this).parent().prev().val($('#my-start').data('date'));
	        $(this).datepicker('close');
	      });
	      $('#my-end').datepicker().
	      on('changeDate.datepicker.amui', function(event) {
	        $(this).parent().prev().val($('#my-end').data('date'));
	        $(this).datepicker('close');
	      });
    	$('.btn-cancel-date').click(function(){
			$(this).parent().prev().val('');

    		return false
    	})
//        $('.btn-saixuan').click(function () {
//            var keyword = $('#selector-search-input').val();
//            $.ajax({
//                        url: '__ROOT__/Admin/PartyBranch/ajaxGetUsers',
//                        type: 'POST', //GET
//                        data: {id:{$detail.id},keyword: keyword},  //
//                    dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
//                    success: function (data) {
//                $('#select-content').html("");
//                if (data.status == 0) {
//                    var html = "";
//                    $.each(data.data, function (index, item) {
//                        html += item.html;
//                    });
//                    $('#select-content').html(html);
//                } else {
//                    alert_modal(data.msg);
//                }
//            },
//            error: function (xhr, textStatus) {
//                $('#select-content').html("服务器暂时无法连接，请稍候再试");
//                alert_modal("服务器暂时无法连接，请稍候再试");
//            }
//        })
//        });


        $('.btn-detail').click(function () {
            id = $(this).attr('data-id');
            loading();
            $.ajax({
                url: '__ROOT__/Admin/WeiXinDe/ajaxDetail',
                type: 'POST', //GET
                data: {id: id},
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                    close_loading();
                    if (data.status == 0) {
//          alert_modal(JSON.stringify(data.data));
                        var detail = data.data;
                        $('#detail-title').html(detail.theme);
                        $('#detail-info1').html(detail.branch_name);
                        $('#detail-info2').html(detail.user_realname);
                        var createTimeString = new Date(detail.create_time * 1000).Format("yyyy-MM-dd");
                        $('#detail-info3').html(createTimeString);

                        var attendTimeString = new Date(detail.attend_time * 1000).Format("yyyy-MM-dd");
                        $('#detail-info4').html(attendTimeString);
                        $('#detail-info5').html(detail.host);
                        $('#detail-info6').html(detail.attendance + "人");
                        $('#detail-info7').html(detail.attendee);

                        $('#detail-content').html(detail.content);

                        $('#my-popup').modal();
                    } else {
                        alert_modal(data.msg);
                    }
                },
                closeOnConfirm: false,
                error: function (xhr, textStatus) {
                    close_loading();
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        });

        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
</block>
