<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>积分规则</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="__CSS__/reset.css">
  </head>
    <style type="text/css">
    .content{
      margin: 10px;
      margin-bottom: 50px;
    }
    .article_title{
      color: #333;
      font-weight: bold;
      font-size: 18px;
      line-height: 45px;
    }
    .time{
      font-size: 12px;
      color: #757575;
    }
    .biji{
      font-size: 12px;
      color: #19a7f0;
      padding: 15px;
    }
    .content{
      max-width: 100% !important;
      overflow:hidden;
    }
    .content img{
      max-width: 100% !important;
      height: initial !important;
    }
    .content p{
      line-height: 1.5rem;
    }
        </style>
  <body>
    <include file="Common/_nav1"/>
      <div class="content">
          <h3 class="article_title">中共珠海市国家税务局党的建设工作领导小组关于建立党建工作“六个打通”工作机制的通知</h3>
          <div style='padding:10px;'>
          <!-- <span class="time">{$article.published_at|time_to_string_ques}</span> -->
          <!-- <span ><a href="__ROOT__/Mob/Notes/notes_edit?aid={$article['id']}" class="biji">抓取个人学习笔记</a></span> -->
          </div>
          <article >
          <p>
           中共横琴新区、各区国家税务局党组，局内各单位：
为了进一步贯彻全面从严治党要求，推动党建工作融入中心、服务大局，形成工作合力，现就建立党建工作“六个打通”工作机制提出如下意见，请认真贯彻落实。
一、总体要求
以落实税务总局“纵合横通强党建”的部署及“下抓两级、抓深一层”“条主动、块为主”等工作机制为主线，以“融合式”党建为引领，以“互联网+”为抓手，进一步实现党建工作“六个打通”，即打通党建与廉政建设工作、打通机关与系统党建工作、打通人事与机关党委工作、打通党建与监督管理工作、打通党建与教育培训工作、打通党建与绩效管理工作，形成领导有力、科学有序、有机融合的管党治党工作机制，打造具有珠海国税特色的党建工作品牌，为加快推进税收现代化建设提供强有力的思想政治保证和组织保证。
二、工作目标
（一）进一步加强党的领导
将坚持和加强党的领导深入体现在税收工作的各个领域、各个环节、各个层级，大力推进党的思想建设、组织建设、作风建设、反腐倡廉建设和制度建设，实现全覆盖、全贯通，有效落实和完善国税系统全面从严治党新格局。
（二）进一步创新党建模式
充分运用“互联网+”思维，一方面积极落实省国税局党建信息化建设部署，充分借助数字党建管理系统，实现数字党建管理系统与RED、党务管理、数字人事、巡察工作管理、绩效管理等系统对接；另一方面积极推进集成创新，充分借助珠海国税智慧党建平台，实现智慧党建平台与绩效管理系统、纪律审查信息管理系统、内部风险防控平台、数字人事系统、智慧人事系统、学习创新平台等系统对接。将党建与党风廉政建设、队伍建设、监督管理、教育培训、绩效管理等工作进一步融合打通，以结合、贯穿、渗透、转化的方式，促进党建的各项服务职能由点到面、由表及里、层层深入到各项工作中，打造融合式党建新模式。
（三）进一步提升党建效能
促进各职能部门实现信息共享，打破部门信息壁垒，避免基层单位重复报送数据，切实为基层减压减负。进一步强化协同配合能力，充分发挥多方参与、优势互补效应，实现对组织、人员等现有资源进行优化配置和有机融合，形成部门合力，提升工作质效。进一步推动各项信息系统数据的整合利用，充分整合各信息系统的数据资源，实现结果互用，具体、直观展现“六个打通”工作质效。
（四）进一步服务中心工作
把推动“六个打通”工作机制与做好税收改革发展各项工作结合起来，进一步发挥党组织战斗堡垒作用和党员先锋模范作用，激发党员干部岗位建功内在动力，凝聚实现税收现代化的智慧和力量，引领广大税务干部改革创新、勇于担当，推动广东国税跨越式发展。
三、实现方式
“六个打通”工作机制实现方式主要有系统链接、合作开展、信息推送和结果运用。系统链接是工作基础，指的是整合利用相关工作部门的系统，实现系统数据的交换运用；合作开展指的是合署办公或联合部署推进；信息推送指的是部门实现数据信息的互通互享，主要形式有定期推送、适时推送和自动推送(定期推送指的是设定某个日期完成推送信息工作；适时推送指的是工作发生后7个工作日内推送信息；自动推送指的是人工汇总上传到对应系统，由系统自动识别抓取)；结果运用指的是某一部门的工作结果可作为另一部门开展工作的参考依据。
四、系统链接
“六个打通”工作机制创新落地的重要举措是对各类信息系统进行高度整合、互通互享，实现各系统之间信息数据的交换运用。一方面，对各系统中的原始信息数据进行整合利用，有效打通信息壁垒，实现数据来源一致；另一方面，对各系统的量化积分结果进行综合运用，以智慧党建平台为载体，将各系统的分数通过智慧党建平台进行集中展现（详见附件《“六个打通”积分构成表》）。
五、打通事项及责任分工
现对“六个打通”工作机制打通事项作如下分工（责任部门列在最前的为牵头单位，其他为协办单位；打通实现方式为信息推送的，对尚未完全实现数字化打通的项目暂时由人工操作完成）：
（一）打通党建与廉政工作
1.实行党建工作领导小组与党风廉政建设领导小组合署办公,党组书记任组长,分管党建工作的党组成员及纪检组组长任副组长，日常工作由机关党委办牵头落实。
实现方式：合作开展
责任部门：党建工作领导小组与党风廉政建设领导小组的成员单位
2.落实全面从严治党主体责任和监督责任，加强和改进党建和党风廉政建设工作，并对落实责任不到位、措施不实的部门和个人进行问责。
实现方式：合作开展
责任部门：各级党组、班子成员及相关部门
3.健全党组中心组理论学习制度，每年组织党组中心组专题学习反腐倡廉不少于2次。党风廉政建设领导小组办公室提供反腐倡廉的学习资料给党组中心组学习秘书。党组中心组学习秘书及时在智慧党建平台上传反腐倡廉学习台账。
实现方式：信息推送（定期推送，每年一季度完成）
责任部门：各级党组、机关党委办
4.开展廉政谈话，按要求组织任期廉政谈话、任职廉政谈话、提醒谈话和诫勉谈话。廉政谈话牵头单位及时在智慧党建平台上传反腐倡廉学习台账。
实现方式：合作开展
责任部门：党风廉政建设领导小组成员单位
5.组织开展党内集中学习教育，抓好党员经常性学习教育和反腐倡廉专题学习。整合学习创新平台和智慧党建平台的考学资源，组织开展党规党纪理论考试。
实现方式：合作开展
责任部门：机关党委办、教育部门
6.落实纪律教育学习月活动，结合“两学一做”学习教育常态化、制度化安排，将党内政治理论学习与党规党纪学习同步落实，结合纪律教育学习月主题，创新开展系列活动。
实现方式：合作开展
责任部门：机关党委办、教育部门、纪检监察部门
7.每年年初同步制定党建和党风廉政建设工作计划，每半年向党组汇报一次党建和党风廉政建设工作开展情况。
实现方式：合作开展
责任部门：党建工作领导小组与党风廉政建设领导小组的成员单位
（二）打通机关与系统党建工作
8.制定本单位、本系统全面从严治党工作计划，明确责任分工，梳理全面从严治党主体责任和监督责任清单。
实现方式：合作开展
责任部门：党建工作领导小组成员单位
9.党建工作部门每年组织对系统党建和思想政治工作进行督导检查，督促各级党组织查缺补漏、自我完善，推进责任落实。
实现方式：合作开展
责任部门：党建工作领导小组成员单位
10.根据党组安排，党组成员参加指导下级党组民主生活会。
实现方式：合作开展
责任部门：党组成员、下一级党组
11.落实局领导、机关党支部与系统基层党组织共建制度，落实“4项共建”“8个共同”，全面提升党组织的战斗力。
实现方式：合作开展
责任部门：机关各党支部、基层党建共建点
12.落实局领导班子成员基层党建工作联系点制度和“下抓两级 抓深一层”工作机制，党组成员指导相应的联系点开展党建工作，开展专题调研。
实现方式：合作开展
责任部门：机关党委办、各基层单位
（三）打通人事与机关党委工作
13.加强组织关系管理，人事部门及时移交新录用、换岗、离职、机关借用人员和退休党员名单给机关党委办；机关党委办及时移交新入党人员信息和资料给人事部门。                                                                                                                                                                      
实现方式：信息推送（适时推送。路径：数字人事系统/人事管理系统2.0/行政管理平台人事管理信息系统—数字党建管理系统）
责任部门：人事部门、机关党委办          
14.机关党委办配合人事部门组织干部选拔任用工作，对进入组织考察环节的党员考察对象提供党性、思想品德、是否有违反党纪行为的评价。
实现方式：合作开展
责任部门：机关党委办、人事部门
15.机关党委办草拟党组民主生活会方案，提交人事部门会签，双方根据工作分工共同组织党组民主生活会。
实现方式：合作开展
责任部门：机关党委办、人事部门
16.机关党委办在收集到各党支部党员民主评议的结果后移交人事部门，纳入党员的公务员年度考核和个人绩效考评内容。
实现方式：信息推送（定期推送，每年12月底完成。路径：数字党建管理系统—数字人事系统/人事管理系统2.0）
责任部门：机关党委办、人事部门
17.机关党委办及时将受表彰党员名单或被党纪处分党员名单及相关资料移交人事部门。
实现方式：信息推送（适时推送。路径：数字党建管理系统—数字人事系统/人事管理系统2.0）
责任部门：机关党委办、人事部门
18.统筹成立党建工作领导小组，分管人事工作的党组成员任副组长，人事部门主要负责人任成员，协同落实各项工作部署。
实现方式：合作开展
责任部门：机关党委办、人事部门
（四）打通党建与监督管理工作
19.加强党建方面的巡察，监督党组织和党员干部落实党的领导和党的建设方面的情况。
实现方式：合作开展
责任部门：纪检监察部门、机关党委办
20.人事任免等“三重一大”事项要听取巡察部门和督察内审部门的意见。
实现方式：合作开展
责任部门：人事部门、政策法规科、纪检监察部门
21.监督党组及领导班子成员执行民主集中制、“三重一大”等重大事项决策、落实议事程序和工作规则等情况，监督党组织和党员干部遵守党章党规党纪、贯彻落实党的理论和路线方针政策情况。
实现方式：合作开展
责任部门：纪检监察部门、机关党委办
22.人事部门制定干部选拔任用方案时，需提请纪检组长担任领导小组副组长，监察部门负责人为领导小组成员，在干部选拔任用的考试、测评与考察环节，监察部门应担任相关工作组成员。
实现方式：合作开展
责任部门：人事部门、纪检监察部门
23.统筹、指导、协调内控机制建设，督促各部门落实内控主体责任，建立健全权力运行监督制约机制，建立内部风险防控平台，防范各类税务工作风险和廉政风险。
实现方式：合作开展
责任部门：政策法规部门、其他涉及部门
（五）打通党建与教育培训工作
24.落实党组中心组学习，结合全年教育培训计划，创新开展党组中心组学习。
实现方式：合作开展
责任部门：机关党委办、教育部门
25.将加强党员理想信念、纪律规矩、廉政教育等方面教育贯穿于教育培训工作全过程，在公务员初任培训、领导干部任职培训、后备干部培训等开设党建和党性教育课程。
实现方式：合作开展
责任部门：教育部门、机关党委办
26.依托党校、干部培训学校开设党组书记、纪检组长、党支部书记、支部委员培训班、专职党务干部培训班。
实现方式：合作开展
责任部门：机关党委办、教育部门
27.发挥工团妇组织优势，与教育部门联合开展各类志愿服务活动。
实现方式：合作开展
责任部门：工团妇组织、教育部门
28.教育部门积极开展税务廉政文化建设，共同推进反腐倡廉教育。
实现方式：合作开展
责任部门：教育部门、纪检监察部门、机关党委办
（六）打通党建与绩效管理工作
29.机关党委办年初对全面从严治党的绩效考评内容提交绩效管理部门，由绩效管理部门将其纳入对各部门的绩效考评，从日常管理上确保党建工作落实落地。
实现方式：合作开展
责任部门：绩效管理部门、机关党委办
30.机关党委办年初将党风廉政建设的绩效考评内容提交绩效管理部门，由绩效管理部门将其纳入对各部门的绩效考评，从日常管理上确保党建工作落实落地。
实现方式：合作开展
责任部门：绩效管理部门、机关党委办
31.对照全面从严治党“两个责任”要求，梳理全年节点性任务和规定动作，将其同步录入任务统筹系统和智慧党建平台，进行有效提醒和量化考核,对任务完成质量进行绩效评分，同时将绩效评分转化为智慧党建平台积分。
实现方式：合作开展
责任部门：绩效管理部门、机关党委办
六、结果运用
“六个打通”结果运用主要分为对具体事项结果上的运用和“六个打通”积分的整合利用。
（一）具体事项结果运用
1.加强党风廉政建设责任考核结果运用，考核结果作为对领导班子总体评价和领导干部业绩评定、奖励惩处、选拔任用的重要依据。人事部门及时将考核结果录入到智慧人事系统。
实现方式：结果运用
责任部门：人事部门、机关党委办、各级党组
2.将党建工作纳入绩效考评，并以各项绩效考评指标倒逼本单位、本系统严格落实全面从严治党责任。
实现方式：合作开展、结果运用
责任部门：机关党委办、绩效管理部门
3.每年组织对下一级党组领导班子、领导干部以及本机关各单位主要负责人落实主体责任情况进行检查考核。检查考核结果作为对领导班子总体评价和领导干部业绩评定、奖励惩处、选拔任用的重要依据。
实现方式：结果运用
责任部门：党建工作领导小组成员单位
4.机关党委办在收集到各党支部党员民主评议的结果后移交人事部门，纳入党员的公务员年度考核和个人绩效考评内容。
实现方式：结果运用
责任部门：机关党委办、人事部门
5.对廉政测评中“差”得票率达到30%以上的领导干部，由上一级税务机关的纪检组长对其进行谈话提醒或诫勉谈话；廉政测评中“差”得票率连续两个年度均达到30%以上的领导干部，上级党组应给予组织处理。
实现方式：结果运用
责任部门：机关党委办、纪检监察部门
6.坚持党管干部、注重实绩、树立导向的原则，加强组织绩效和个人绩效考评结果的运用，考评结果适用于干部任用、年度考核、评先评优、其他运用等4个方面。
实现方式：结果运用
责任部门：人事部门、绩效管理部门、机关党委办、教育部门
（二）“六个打通”积分运用
“六个打通”积分主要基于系统链接产生，以百分制进行计算，在珠海国税智慧党建平台上集中呈现，积分主要运用于以下几个方面：
1.将“六个打通”积分作为积分制发展党员的重要指标，全面、客观的记录和反应入党积极分子思想学习、工作奉献、工作创新等情况，结合积分和平时工作表现作为确定入党积极分子、发展对象的重要参考因素。
责任部门：机关党委办
2. 将“六个打通”积分作为评先创优的重要参考，将积分运用于先进基层党组织、优秀共产党员、优秀党务工作者以及优秀党建工作案例评比中
责任部门：机关党委办
七、工作要求
（一）加强组织领导。市国税局党建工作领导小组办公室负责组织实施，各相关部门按照职责分工，各司其职、各尽其责，进一步推进“六个打通”工作机制。各区国税局党组要参考市国税局做法，进一步落细落实“六个打通”工作机制，加强工作统筹，着力推进建设进程。
（二）加强主动担当。在落实“六个打通”工作机制中，各部门要充分结合实际，既要围绕打通事项积极协调配合，协同发力，让信息在部门间流动起来，提高机关运转效率，又要积极谋划、不断创新，强化责任担当，促使工作机制取得实效，使系统党建由“单兵突进”变“集团作战”。
（三）加强宣传总结。市国税局通过智慧党建平台、编印简报等专题宣传方式，总结落实“六个打通”工作机制的实践经验，交流展示成果，不断优化党建工作基础。各单位要及时总结，挖掘工作亮点和特色经验，以点带面，整体推进，切实把全面从严治党落实到位。
          </p>
          </article>
      </div>

  </body>

</html>