<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>党员服务</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta name="flexible" content="initial-dpr=2" />
		<link rel="stylesheet" href="__STATICS__/flexible/flexible.css">
		<script src="__STATICS__/flexible/flexible.js"></script>
		<link rel="stylesheet" href="__STATICS__/swiper/css/swiper-3.3.1.min.css">
		<link rel="stylesheet" href="__CSS__/reset.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/general/general-header.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/party_serve/help/help.css"/>
	</head>
	<style type="text/css">
    
.help li {

    background: url(__IMG__/party_serve/relief_bg.png) no-repeat;
}
	</style>
	<body>
		<div class="page">
			<header class ="head">
				<div class="header"><span>困难帮扶</span><a onclick="history.go(-1);"><span></span></a></div>
			</header>
		</div>
		
		<div class="help">
			<div class="heart">
				<div class="edit-di"><a href="__ROOT__/Mob/PartyServe/help_edit.html" class = "edit">我的困难</a></div>
				<ul>
					<li>
						<img class = "price" src="__IMG__/party_serve/head.png"/>
						<div class="words">
							<a href="__ROOT__/Mob/PartyServe/helpinfo.html">
								<header><span class="Btime">2017年3月1日</span> • <span class="newspaper">中国税务报</span> • <span class="position">珠海</span>:</header>
								<p>税村联建支部 推进精准扶贫</p>
								<div class="time"><span>2017.04.20</span><span>10:20</span></div>
								<footer>
									<div class="logo"><img src="__IMG__/test/jzj.png" alt="logo" /><span>李达康</span></div>
									<div class="comment"><img src="__IMG__/party_serve/comment.png"/>评论(<span>700</span>)</div>
								</footer>
							</a>
						</div>
					</li>
					<li>
						<img class = "price" src="__IMG__/party_serve/head.png"/>
						<div class="words">
							<a href="__ROOT__/Mob/PartyServe/helpinfo.html">
								<header><span class="Btime">2017年3月1日</span> • <span class="newspaper">中国税务报</span> • <span class="position">珠海</span>:</header>
								<p>税村联建支部 推进精准扶贫</p>
								<div class="time"><span>2017.04.20</span><span>10:20</span></div>
								<footer>
									<div class="logo"><img src="__IMG__/test/jzj.png" alt="logo" /><span>李达康</span></div>
									<div class="comment"><img src="__IMG__/party_serve/comment.png"/>评论(<span>700</span>)</div>
								</footer>
							</a>
						</div>
					</li>
					<li>
						<img class = "price" src="__IMG__/party_serve/head.png"/>
						<div class="words">
							<a href="__ROOT__/Mob/PartyServe/helpinfo.html">
								<header><span class="Btime">2017年3月1日</span> • <span class="newspaper">中国税务报</span> • <span class="position">珠海</span>:</header>
								<p>税村联建支部 推进精准扶贫</p>
								<div class="time"><span>2017.04.20</span><span>10:20</span></div>
								<footer>
									<div class="logo"><img src="__IMG__/test/jzj.png" alt="logo" /><span>李达康</span></div>
									<div class="comment"><img src="__IMG__/party_serve/comment.png"/>评论(<span>700</span>)</div>
								</footer>
							</a>
						</div>
					</li>
					<li>
						<img class = "price" src="__IMG__/party_serve/head.png"/>
						<div class="words">
							<a href="__ROOT__/Mob/PartyServe/helpinfo.html">
								<header><span class="Btime">2017年3月1日</span> • <span class="newspaper">中国税务报</span> • <span class="position">珠海</span>:</header>
								<p>税村联建支部 推进精准扶贫</p>
								<div class="time"><span>2017.04.20</span><span>10:20</span></div>
								<footer>
									<div class="logo"><img src="__IMG__/test/jzj.png" alt="logo" /><span>李达康</span></div>
									<div class="comment"><img src="__IMG__/party_serve/comment.png"/>评论(<span>700</span>)</div>
								</footer>
							</a>
						</div>
					</li>
					<li>
						<img class = "price" src="__IMG__/party_serve/head.png"/>
						<div class="words">
							<a href="__ROOT__/Mob/PartyServe/helpinfo.html">
								<header><span class="Btime">2017年3月1日</span> • <span class="newspaper">中国税务报</span> • <span class="position">珠海</span>:</header>
								<p>税村联建支部 推进精准扶贫</p>
								<div class="time"><span>2017.04.20</span><span>10:20</span></div>
								<footer>
									<div class="logo"><img src="__IMG__/test/jzj.png" alt="logo" /><span>李达康</span></div>
									<div class="comment"><img src="__IMG__/party_serve/comment.png"/>评论(<span>700</span>)</div>
								</footer>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<script src="__STATICS__/swiper/js/swiper-3.3.1.min.js"></script>
		<script src="__STATICS__/zepto/zepto.js"></script>
		<script src="__STATICS__/zepto/event.js"></script>
		<script src="__STATICS__/zepto/touch.js"></script>
		<script src="__JS__/common.js" type="text/javascript" charset="utf-8"></script>	</body>

</html>