<!--<!doctype html>
<html class="no-js">-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{$webTitle}</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="__STATICS__/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__STATICS__/assets/css/app.css">
  <link rel="stylesheet" href="__PUBLIC__/Common/css/public.css">

  <!-- 全局样式 -->
  <style>

  </style>

  <!-- 继承页拓展样式 -->
  <block name="styles">

  </block>

</head>

<body>

    <div class="pc-container">
        <block name="content">

        </block>
    </div>

    <script src="__STATICS__/assets/js/jquery.min.js"></script>
    <script src="__STATICS__/assets/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/Common/js/public.js"></script>

    <block name="scripts">

    </block>

</body>

</html>
