<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>党员之家</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="flexible" content="initial-dpr=2" />
    <!--<link rel="stylesheet" href="__STATICS__/mui/mui.min.css">-->
    <!--<link rel="stylesheet" href="__STATICS__/flexible/flexible.css">-->
    <script src="__STATICS__/flexible/flexible.js"></script>
    <!--<link rel="stylesheet" href="__CSS__/reset.css">-->
    <link rel="stylesheet" type="text/css" href="__CSS__/general/general-header.css"/>
    <link rel="stylesheet" type="text/css" href="__STATICS__/photoswipe/photoswipe.css" />
    <link rel="stylesheet" type="text/css" href="__STATICS__/photoswipe/styles.css" />
    <script src="__STATICS__/photoswipe/lib/simple-inheritance.min.js"></script>
    <script src="__STATICS__/photoswipe/code-photoswipe-1.0.19.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){
            Code.photoSwipe('a', '#Gallery');
        }, false);
    </script>
    <style>
        .page {
            z-index: 0;
        }

        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    </style>
</head>

<body>

<div class="page">
    <header class ="head">
        <div class="header"><div class="delete">
        </div><span>{$title}</span><a onclick="history.go(-1);"><span></span></a></div>
    </header>
    <!--数据列表-->
    <ul id="Gallery" class="" style="background: transparent; padding: 10px 0px">
        <volist name="list" id="vo">
            <div class="gallery-item">
                <a href="{$vo.img_url|show_img}">
                    <img src="{$vo.img_url|show_img=###,'small'}" alt="{$vo.title}"/>
                </a>
            </div>
        </volist>
        <div style="clear: both"></div>
    </ul>
</div>
</body>
<!--<script src="__STATICS__/mui/mui.min.js"></script>-->
<script src="__STATICS__/zepto/zepto.js"></script>
<script src="__STATICS__/zepto/event.js"></script>
<script src="__STATICS__/zepto/touch.js"></script>
<script src="__JS__/common.js" type="text/javascript" charset="utf-8"></script>
<!-- <include file="Common/_menu"/> -->
<script type="text/javascript">
    //启用双击监听
//    mui.init({
//        gestureConfig:{
//            doubletap:true
//        },
//        subpages:[{
//            url:'_sub_index.html',
//            id:'_sub_index.html',
//            styles:{
//                top: '45px',
//                bottom: '0px',
//            }
//        }]
//    });

//    var contentWebview = null;
//    document.querySelector('header').addEventListener('doubletap',function () {
//        if(contentWebview==null){
//            contentWebview = plus.webview.currentWebview().children()[0];
//        }
//        contentWebview.evalJS("mui('#pullrefresh').pullRefresh().scrollTo(0,0,100)");
//    });
</script>

</html>