<extend name="./Application/Admin/View/Common/base.html"/>
<block name="styles">
    <style>
        .popup-qrcode{
            position: absolute;display:none; z-index:3000; background-color:#FFF; left: 601px; top: 217px; height: auto; width: auto;text-align:center;
            border: 2px solid #28a326;
            border-radius: 10px;
        }
        .popup-qrcode .img-qrcode{
            margin: 10px;
            width: 280px !important;
            height:280px !important;
        }
        .popup-qrcode h4{
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }

        .popup-qrcode .close-popup{
            color: grey;
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 16px;
        }

        .popup-qrcode .bottom-button{
            padding-bottom: 10px;
        }
        .popup-qrcode .bottom-button input{
            background-color: #eeeeee;
            border: 1px lightgray solid;
            border-radius: 5px;
            padding: 5px 20px;
            color: black;
            font-size: 14px;
        }
        .popup-qrcode .bottom-button .btn-download{
            background-color: #eeeeee;
            border: 1px lightgray solid;
            border-radius: 5px;
            padding: 10px 20px;
            color: black;
            font-size: 14px;
        }

        .span-more{
            background-color: #029865;
            color: white;
            padding: 5px 10px ;
        }


    </style>
</block>
<block name="content">
    <div id="loadingDiv" style="position:fixed;display:none;z-index:2000;top:0px;left:0px;width:100%;height:100%;background-color:rgba(255, 255, 0, 0)"></div>
    <div id="popup" class="popup-qrcode"style="padding-bottom: 10px;">
        <h4>签到二维码</h4>
        <a href="javascript:void(0)" class="close-popup" >X</a>
        <img  class="img-qrcode" src="__ROOT__/Event/QRCode/signQrcode?id={$detail.id}">
        <div class="bottom-button">

            <p>微信扫描二维码进行签到</p>
            <div >
                <a class="btn-download" href="__ROOT__/Event/QRCode/signQrcode?id={$detail.id}" download="{$detail.event_title}-签到二维码.png">下载二维码</a>
            </div>

        </div>
    </div>
    <div id="popup2"class="popup-qrcode" style="padding-bottom: 10px;">
        <h4>签退二维码</h4>
        <a href="javascript:void(0)" class="close-popup" >X</a>
        <img  class="img-qrcode" src="__ROOT__/Event/QRCode/signOutQrcode?id={$detail.id}">
        <div class="bottom-button">

            <p>微信扫描二维码进行签退</p>
            <div >
                <a class="btn-download" href="__ROOT__/Event/QRCode/signOutQrcode?id={$detail.id}" download="{$detail.event_title}-签退二维码.png">下载二维码</a>
            </div>
        </div>
    </div>

    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><a href="#" onClick="javascript :history.back(1);"><strong
                    class="am-text-primary am-text-lg">活动报名管理</strong></a> /
                <small>
                    《{$detail.event_title}》活动管理
                </small>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-1 ">
            </div>
            <form class="am-u-sm-12 am-u-md-11 right-align" style="text-align: right"  action="__ROOT__/Admin/Event/eventManage?id={$detail.id}">
                <input type="hidden" name="id" value="{$search.id}">
                <button type="button" class="am-btn am-btn-secondary" id="export-excel">导出 excel</button>
                <button type="button" class="am-btn am-btn-secondary" id="btn-qrcode">签到二维码</button>
                <button type="button" class="am-btn am-btn-secondary" id="btn-signout-qrcode">签退二维码</button>
                <select data-am-selected="{btnWidth: '120px', btnSize: 'sm', }" name="sign_status">
                    <option value="-1" <if condition="$search['sign_status'] == -1">selected</if>>签到状态</option>
                    <option value="0" <if condition="$search['sign_status'] == 0">selected</if>>未签到</option>
                    <option value="1" <if condition="$search['sign_status'] == 1">selected</if>>已签到</option>
                </select>
                <select data-am-selected="{btnWidth: '120px', btnSize: 'sm', }" name="sign_out_status">
                    <option value="-1" <if condition="$search['sign_out_status'] == -1">selected</if>>签退状态</option>
                    <option value="0" <if condition="$search['sign_out_status'] == 0">selected</if>>未签退</option>
                    <option value="1" <if condition="$search['sign_out_status'] == 1">selected</if>>已签退</option>
                </select>

                <div style="position: relative;top: 12px;display: inline-block;">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field" placeholder="输入报名用户姓名关键词" name="keyword"
                               value="{$search.keyword}">
                    </div>
                </div>

                <button class="am-btn am-btn-sm am-btn-default" type="submit">确认检索</button>
            </form>
            <!--<div class="am-u-sm-12 am-u-md-1">-->

            <!--</div>-->
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-type" style="min-width: 70px">姓名</th>
                            <th class="table-author am-hide-sm-only">性别</th>
                            <th class="table-author am-hide-sm-only">电话</th>
                            <!-- <th class="table-author am-hide-sm-only" style="min-width: 200px">详细信息</th> -->


                            <th class="table-author am-hide-sm-only" style="min-width: 200px">签到/签退时间</th>


                            <th class="table-author am-hide-sm-only">报名时间</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="page.list" id="item">
                            <tr>
                                <td>{$item.attend_name}</td>
                                <td>
                                    <if condition="$item.user_gender == 1">
                                        男
                                        <else/>
                                        女
                                    </if>
                                </td>
                                <td>{$item.attend_mobile}</td>
                                <!-- <td>生日：<div style="display: inline-block">{$item.attend_birthday}</div><br>
                                    职务：<div style="display: inline-block">{$item.attend_position}</div><br>
                                    单位：<div style="display: inline-block">{$item.attend_work_unit}</div><br>
                                    备注：<div style="display: inline-block">{$item.attend_remark}</div>
                                </td> -->

                                <td>
                                    <if condition="$item.sign_status == 1">
                                        <span class="am-badge am-badge-success am-radius">已签到</span>
                                        <else/>
                                        <span class="am-badge am-badge-warning am-radius">未签到</span>
                                    </if><div style="display: inline-block">{$item.sign_time|show_date=':'}</div><br>
                                    <if condition="$item.sign_out_status == 1">
                                        <span class="am-badge am-badge-success am-radius">已签退</span>
                                        <else/>
                                        <span class="am-badge am-badge-warning am-radius">未签退</span>
                                    </if><div style="display: inline-block">{$item.sign_out_time|show_date=':'}</div>
                                </td>
                                <td class="am-hide-sm-only">{$item.attend_time|show_date}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button"
                                                    class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-dec"
                                                    data-id="{$item.attend_id}"><span class="am-icon-trash-o"></span> 删除
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="page">
                        {$page.show}
                    </div>
                    <hr/>
                    <p>注：.....</p>
                </form>
            </div>

        </div>

    </div>
</block>
<block name="scripts">
    <script type="text/javascript">
        $(function(){
            var url = null;
            $(document).on('click','#btn-qrcode',function(){

                $('#loadingDiv').css('display','block');
                $('#popup').slideDown();
            });
            $(document).on('click','#btn-signout-qrcode',function(){

                $('#loadingDiv').css('display','block');
                $('#popup2').slideDown();
            });
            $(document).on('click','.close-popup,#loadingDiv',function(){
                $('#loadingDiv').css('display','none');
                $('#popup').slideUp();
                $('#popup0').slideUp();
                $('#popup2').slideUp();

            });


            //导出名单
            $('#export-excel').click(function () {
                <empty name="search">
                        $('#confirm-text').text("是否导出全部报名用户");
                $('#my-confirm').modal({
                    relatedTarget: this,
                    onConfirm: function (options) {
                        location.href = "__ROOT__/Admin/Event/exportExcel?id={$detail.id}";
                    },
                    onCancel: function () {

                    }
                });

                        <else/>

                $('#confirm-text').text("是否导出筛选后的报名用户");
                $('#my-confirm').modal({
                    relatedTarget: this,
                    onConfirm: function (options) {
                        location.href = "__ROOT__/Admin/Event/exportExcel?id={$detail.id}&sign_status={$search.sign_status}&sign_out_status={$search.sign_out_status}&keyword={$search.keyword}";
                    },
                    onCancel: function () {

                    }
                });
                </empty>


            });

        });
    </script>

    <script>
        var id = 0;
        $('.btn-status').click(function () {
            id = $(this).attr('data-id');
            $.ajax({
                url: '__ROOT__/Admin/Event/ajaxChangeEventStatus',
                type: 'POST', //GET
                data: {id: id},
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data) {
                    if (data.status == 0) {
                        window.location.reload();
                    } else {
                        alert_modal(data.msg);
                    }
                },
                error: function (xhr, textStatus) {
                    alert_modal("服务器暂时无法连接，请稍候再试");
                }
            })
        });
        $('.btn-dec').click(function () {
            id = $(this).attr('data-id');
            $('#confirm-text').text("是否取消该用户的报名");
            $('#my-confirm').modal({
                relatedTarget: this,
                onConfirm: function (options) {
                    $.ajax({
                        url: '__ROOT__/Admin/Event/ajaxDelAttend',
                        type: 'POST', //GET
                        data: {id: id},
                        dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        success: function (data) {
                            if (data.status == 0) {
                                window.location.reload();
                            } else {
                                alert_modal(data.msg);
                            }
                        },
                        closeOnConfirm: false,
                        error: function (xhr, textStatus) {
                            alert_modal("服务器暂时无法连接，请稍候再试");
                        }
                    })
                },
                onCancel: function () {

                }
            });
        });

    </script>

</block>
